.btn-1 {
    font-family: 'mm-regular';
}

.cms_html_container .container {
    max-width: 975px;

    padding: 0;
}

.container-shadow .container {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 0px 0px 50px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 0px 50px 0px rgba(50, 50, 50, 0.45);
}

.container-1250 {
    max-width: 1250px !important;
    width: 1250px !important;
}

@media only screen and (max-device-width: 480px) {
    .container-1250{
        width: 100% !important;
        max-width: 100% !important;
    }
}

 .row {
     margin-left: 0 !important;
     margin-right: 0 !important;
 }