.price {
    width: auto;
    float: none;
    margin: 0px auto;
    display: table
}
.price .xxl {
    width: 59px;
    height: 95px;
    float: left;
    text-indent: -999em;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat 0 0;
    overflow: hidden
}
.price .xl {
    width: 50px;
    height: 63px;
    float: left;
    text-indent: -999em;
    overflow: hidden
}
.price .lg {
    width: 34px;
    height: 54px;
    float: left;
    text-indent: -999em;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -77px -161px;
    overflow: hidden
}
.price .md {
    width: 34px;
    height: 45px;
    float: left;
    text-indent: -999em;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -77px -161px;
    overflow: hidden
}
.price .sm {
    width: 22px;
    height: 33px;
    float: left;
    text-indent: -999em;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -77px -161px;
    overflow: hidden
}
.price .xs {
    width: 22px;
    height: 30px;
    float: left;
    text-indent: -999em;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -77px -161px;
    overflow: hidden
}
.price .xxs {
    width: 22px;
    height: 27px;
    float: left;
    text-indent: -999em;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -77px -161px;
    overflow: hidden
}
.price.red .xxl {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png) no-repeat 0 0
}
.price.red .lg, .price.red .md, .price.red .sm, .price.red .xs, .price.red .xxs {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png) no-repeat -77px -161px
}
.xl.p1 {
    width: 39px
}
.xl.p2 {
    width: 55px
}
.xl.p3 {
    width: 49px
}
.xl.p4 {
    width: 53px
}
.xl.p5 {
    width: 52px
}
.xl.p6 {
    width: 50px
}
.xl.p7 {
    width: 54px
}
.xl.p8, .xl.p9, .xl.p0 {
    width: 50px
}
.xl.p-comma {
    width: 27px
}
.p0 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat 0 -96px
}
.p1 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -77px -96px
}
.p2 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -140px -96px;
    width: 59px
}
.p3 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -226px -96px;
    width: 59px
}
.p4 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -304px -96px;
    width: 59px
}
.p5 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -385px -95px;
    width: 59px
}
.p6 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -465px -96px;
    width: 59px
}
.p7 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -541px -96px;
    width: 59px
}
.p8 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -623px -96px;
    width: 59px
}
.p9 {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -699px -96px;
    width: 59px
}
.p-comma {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -854px -96px;
    width: 59px
}
.price.red .p0, .price.red .p1, .price.red .p2, .price.red .p3, .price.red .p4, .price.red .p5, .price.red .p6, .price.red .p7, .price.red .p8, .price.red .p9, .price.red .p-comma {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.xl.p1+.xl.p0, .xl.p2+.xl.p0, .xl.p3+.xl.p0, .xl.p4+.xl.p0, .xl.p5+.xl.p0 {
    margin-left: -15px
}
.xl.p1+.xl.p1, .xl.p2+.xl.p1, .xl.p3+.xl.p1, .xl.p4+.xl.p1, .xl.p5+.xl.p1 {
    margin-left: -14px
}
.xl.p1+.xl.p2, .xl.p2+.xl.p2, .xl.p3+.xl.p2, .xl.p4+.xl.p2, .xl.p5+.xl.p2 {
    margin-left: -19px
}
.xl.p1+.xl.p3, .xl.p2+.xl.p3, .xl.p3+.xl.p3, .xl.p4+.xl.p3, .xl.p5+.xl.p3 {
    margin-left: -15px
}
.xl.p1+.xl.p4, .xl.p2+.xl.p4, .xl.p3+.xl.p4, .xl.p4+.xl.p4, .xl.p5+.xl.p4 {
    margin-left: -14px
}
.xl.p1+.xl.p5, .xl.p2+.xl.p5, .xl.p3+.xl.p5, .xl.p4+.xl.p5, .xl.p5+.xl.p5 {
    margin-left: -16px
}
.xl.p1+.xl.p6, .xl.p2+.xl.p6, .xl.p3+.xl.p6, .xl.p4+.xl.p6, .xl.p5+.xl.p6 {
    margin-left: -15px
}
.xl.p1+.xl.p7, .xl.p2+.xl.p7, .xl.p3+.xl.p7, .xl.p4+.xl.p7, .xl.p5+.xl.p7 {
    margin-left: -13px
}
.xl.p1+.xl.p8, .xl.p2+.xl.p8, .xl.p3+.xl.p8, .xl.p4+.xl.p8, .xl.p5+.xl.p8 {
    margin-left: -16px
}
.xl.p1+.xl.p9, .xl.p2+.xl.p9, .xl.p3+.xl.p9, .xl.p4+.xl.p9, .xl.p5+.xl.p9 {
    margin-left: -15px
}
.xl.p1+.xl.p-comma, .xl.p2+.xl.p-comma, .xl.p3+.xl.p-comma, .xl.p4+.xl.p-comma, .xl.p5+.xl.p-comma {
    margin-left: -21px
}
.xl.p2+.xl.p-comma {
    margin-left: -19px
}
.xl.p3+.xl.p2 {
    margin-left: -16px
}
.xl.p3+.xl.p-comma {
    margin-left: -20px
}
.xl.p4+.xl.p-comma {
    margin-left: -19px
}
.xl.p5+.xl.p-comma {
    margin-left: -21px
}
.xl.p6+.xl.p0 {
    margin-left: -15px
}
.xl.p6+.xl.p1 {
    margin-left: -14px
}
.xl.p6+.xl.p2 {
    margin-left: -17px
}
.xl.p6+.xl.p3, .xl.p6+.xl.p4 {
    margin-left: -12px
}
.xl.p6+.xl.p5, .xl.p6+.xl.p6 {
    margin-left: -13px
}
.xl.p6+.xl.p7 {
    margin-left: -12px
}
.xl.p6+.xl.p8, .xl.p6+.xl.p9 {
    margin-left: -13px
}
.xl.p6+.xl.p-comma {
    margin-left: -18px
}
.xl.p7+.xl.p0 {
    margin-left: -18px
}
.xl.p7+.xl.p1 {
    margin-left: -16px
}
.xl.p7+.xl.p2 {
    margin-left: -22px
}
.xl.p7+.xl.p3 {
    margin-left: -17px
}
.xl.p7+.xl.p4 {
    margin-left: -27px
}
.xl.p7+.xl.p5, .xl.p7+.xl.p6 {
    margin-left: -18px
}
.xl.p7+.xl.p7 {
    margin-left: -15px
}
.xl.p7+.xl.p8 {
    margin-left: -18px
}
.xl.p7+.xl.p9 {
    margin-left: -17px
}
.xl.p7+.xl.p-comma {
    margin-left: -25px
}
.xl.p8+.xl.p0 {
    margin-left: -14px
}
.xl.p8+.xl.p1 {
    margin-left: -13px
}
.xl.p8+.xl.p2 {
    margin-left: -18px
}
.xl.p8+.xl.p3 {
    margin-left: -13px
}
.xl.p8+.xl.p4 {
    margin-left: -12px
}
.xl.p8+.xl.p5, .xl.p8+.xl.p6 {
    margin-left: -14px
}
.xl.p8+.xl.p7 {
    margin-left: -11px
}
.xl.p8+.xl.p8 {
    margin-left: -15px
}
.xl.p8+.xl.p9 {
    margin-left: -13px
}
.xl.p8+.xl.p-comma {
    margin-left: -18px
}
.xl.p9+.xl.p0 {
    margin-left: -15px
}
.xl.p9+.xl.p1 {
    margin-left: -14px
}
.xl.p9+.xl.p2 {
    margin-left: -19px
}
.xl.p9+.xl.p3 {
    margin-left: -15px
}
.xl.p9+.xl.p4, .xl.p9+.xl.p5 {
    margin-left: -14px
}
.xl.p9+.xl.p6, .xl.p9+.xl.p7 {
    margin-left: -13px
}
.xl.p9+.xl.p8 {
    margin-left: -16px
}
.xl.p9+.xl.p9 {
    margin-left: -13px
}
.xl.p9+.xl.p-comma {
    margin-left: -19px
}
.xl.p0+.xl.p-comma {
    margin-left: -19px
}
.xl.p0+.xl.p0 {
    margin-left: -15px
}
.xl.p0+.xl.p1 {
    margin-left: -14px
}
.xl.p0+.xl.p2 {
    margin-left: -19px
}
.xl.p0+.xl.p3 {
    margin-left: -15px
}
.xl.p0+.xl.p4, .xl.p0+.xl.p5 {
    margin-left: -14px
}
.xl.p0+.xl.p6, .xl.p0+.xl.p7 {
    margin-left: -13px
}
.xl.p0+.xl.p8 {
    margin-left: -16px
}
.xl.p0+.xl.p9 {
    margin-left: -13px
}
.p-nocomma, .xl.p-nocomma {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -774px -96px;
    width: 54px
}
.price.red .p-nocomma, .price.red .xl.p-nocomma {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.xl.p0+.xl.p-nocomma, .xl.p1+.xl.p-nocomma {
    margin-left: -18px
}
.xl.p2+.xl.p-nocomma {
    margin-left: -16px
}
.xl.p3+.xl.p-nocomma, .xl.p4+.xl.p-nocomma {
    margin-left: -15px
}
.xl.p5+.xl.p-nocomma {
    margin-left: -18px
}
.xl.p6+.xl.p-nocomma {
    margin-left: -15px
}
.xl.p7+.xl.p-nocomma {
    margin-left: -30px
}
.xl.p8+.xl.p-nocomma, .xl.p9+.xl.p-nocomma {
    margin-left: -15px
}
.xl.p0.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -896px -96px;
    width: 39px
}
.xl.p1.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -954px -96px;
    width: 32px
}
.xl.p2.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -1001px -96px;
    width: 43px
}
.xl.p3.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -1065px -96px;
    width: 39px
}
.xl.p4.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -1123px -96px;
    width: 42px
}
.xl.p5.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -1185px -95px;
    width: 45px
}
.xl.p6.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -1245px -96px;
    width: 39px
}
.xl.p7.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -1302px -95px;
    width: 42px
}
.xl.p8.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -1364px -96px;
    width: 39px
}
.xl.p9.small {
    margin-left: -7px;
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -1421px -96px;
    width: 39px
}
.price.red .xl.p0.small, .price.red .xl.p1.small, .price.red .xl.p2.small, .price.red .xl.p3.small, .price.red .xl.p4.small, .price.red .xl.p5.small, .price.red .xl.p6.small, .price.red .xl.p7.small, .price.red .xl.p8.small, .price.red .xl.p9.small {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.xl.p0.small+.xl.p0.small, .xl.p0.small+.xl.p1.small {
    margin-left: -12px
}
.xl.p0.small+.xl.p2.small {
    margin-left: -15px
}
.xl.p0.small+.xl.p3.small, .xl.p0.small+.xl.p4.small, .xl.p0.small+.xl.p5.small, .xl.p0.small+.xl.p6.small, .xl.p0.small+.xl.p7.small, .xl.p0.small+.xl.p8.small, .xl.p0.small+.xl.p9.small {
    margin-left: -12px
}
.xl.p1.small+.xl.p0.small, .xl.p1.small+.xl.p1.small {
    margin-left: -14px
}
.xl.p1.small+.xl.p2.small {
    margin-left: -18px
}
.xl.p1.small+.xl.p3.small {
    margin-left: -14px
}
.xl.p1.small+.xl.p4.small {
    margin-left: -15px
}
.xl.p1.small+.xl.p5.small {
    margin-left: -14px
}
.xl.p1.small+.xl.p6.small {
    margin-left: -15px
}
.xl.p1.small+.xl.p7.small {
    margin-left: -13px
}
.xl.p1.small+.xl.p8.small, .xl.p1.small+.xl.p9.small {
    margin-left: -14px
}
.xl.p2.small+.xl.p0.small {
    margin-left: -11px
}
.xl.p2.small+.xl.p1.small {
    margin-left: -12px
}
.xl.p2.small+.xl.p2.small {
    margin-left: -14px
}
.xl.p2.small+.xl.p3.small {
    margin-left: -11px
}
.xl.p2.small+.xl.p4.small {
    margin-left: -15px
}
.xl.p2.small+.xl.p5.small, .xl.p2.small+.xl.p6.small {
    margin-left: -12px
}
.xl.p2.small+.xl.p7.small {
    margin-left: -10px
}
.xl.p2.small+.xl.p8.small, .xl.p2.small+.xl.p9.small {
    margin-left: -13px
}
.xl.p3.small+.xl.p0.small {
    margin-left: -11px
}
.xl.p3.small+.xl.p1.small {
    margin-left: -12px
}
.xl.p3.small+.xl.p2.small {
    margin-left: -15px
}
.xl.p3.small+.xl.p3.small {
    margin-left: -11px
}
.xl.p3.small+.xl.p4.small {
    margin-left: -13px
}
.xl.p3.small+.xl.p5.small, .xl.p3.small+.xl.p6.small {
    margin-left: -12px
}
.xl.p3.small+.xl.p7.small {
    margin-left: -10px
}
.xl.p3.small+.xl.p8.small, .xl.p3.small+.xl.p9.small {
    margin-left: -12px
}
.xl.p4.small+.xl.p0.small {
    margin-left: -12px
}
.xl.p4.small+.xl.p1.small {
    margin-left: -14px
}
.xl.p4.small+.xl.p2.small {
    margin-left: -15px
}
.xl.p4.small+.xl.p3.small {
    margin-left: -12px
}
.xl.p4.small+.xl.p4.small {
    margin-left: -13px
}
.xl.p4.small+.xl.p5.small, .xl.p4.small+.xl.p6.small {
    margin-left: -12px
}
.xl.p4.small+.xl.p7.small {
    margin-left: -13px
}
.xl.p4.small+.xl.p8.small, .xl.p4.small+.xl.p9.small {
    margin-left: -12px
}
.xl.p5.small+.xl.p0.small {
    margin-left: -19px
}
.xl.p5.small+.xl.p1.small {
    margin-left: -18px
}
.xl.p5.small+.xl.p2.small {
    margin-left: -22px
}
.xl.p5.small+.xl.p3.small, .xl.p5.small+.xl.p4.small, .xl.p5.small+.xl.p5.small, .xl.p5.small+.xl.p6.small {
    margin-left: -19px
}
.xl.p5.small+.xl.p7.small {
    margin-left: -18px
}
.xl.p5.small+.xl.p8.small {
    margin-left: -19px
}
.xl.p5.small+.xl.p9.small {
    margin-left: -18px
}
.xl.p6.small+.xl.p0.small {
    margin-left: -11px
}
.xl.p6.small+.xl.p1.small {
    margin-left: -10px
}
.xl.p6.small+.xl.p2.small {
    margin-left: -14px
}
.xl.p6.small+.xl.p3.small {
    margin-left: -11px
}
.xl.p6.small+.xl.p4.small {
    margin-left: -12px
}
.xl.p6.small+.xl.p5.small {
    margin-left: -11px
}
.xl.p6.small+.xl.p6.small {
    margin-left: -12px
}
.xl.p6.small+.xl.p7.small {
    margin-left: -10px
}
.xl.p6.small+.xl.p8.small, .xl.p6.small+.xl.p9.small {
    margin-left: -11px
}
.xl.p7.small+.xl.p1.small {
    margin-left: -14px
}
.xl.p7.small+.xl.p2.small {
    margin-left: -20px
}
.xl.p7.small+.xl.p3.small {
    margin-left: -15px
}
.xl.p7.small+.xl.p4.small {
    margin-left: -17px
}
.xl.p7.small+.xl.p5.small, .xl.p7.small+.xl.p6.small {
    margin-left: -14px
}
.xl.p7.small+.xl.p7.small {
    margin-left: -13px
}
.xl.p7.small+.xl.p8.small {
    margin-left: -15px
}
.xl.p7.small+.xl.p9.small, .xl.p7.small+.xl.p0.small {
    margin-left: -14px
}
.xl.p8.small+.xl.p1.small {
    margin-left: -10px
}
.xl.p8.small+.xl.p2.small {
    margin-left: -14px
}
.xl.p8.small+.xl.p3.small {
    margin-left: -11px
}
.xl.p8.small+.xl.p4.small {
    margin-left: -12px
}
.xl.p8.small+.xl.p5.small {
    margin-left: -11px
}
.xl.p8.small+.xl.p6.small {
    margin-left: -12px
}
.xl.p8.small+.xl.p7.small {
    margin-left: -10px
}
.xl.p8.small+.xl.p8.small, .xl.p8.small+.xl.p9.small, .xl.p8.small+.xl.p0.small {
    margin-left: -11px
}
.xl.p9.small+.xl.p1.small {
    margin-left: -11px
}
.xl.p9.small+.xl.p2.small {
    margin-left: -15px
}
.xl.p9.small+.xl.p3.small, .xl.p9.small+.xl.p4.small, .xl.p9.small+.xl.p5.small, .xl.p9.small+.xl.p6.small {
    margin-left: -12px
}
.xl.p9.small+.xl.p7.small {
    margin-left: -10px
}
.xl.p9.small+.xl.p8.small, .xl.p9.small+.xl.p9.small, .xl.p9.small+.xl.p0.small {
    margin-left: -11px
}
.xxl.p1 {
    background-position: -78px 0px
}
.xxl.p2 {
    width: 83px;
    background-position: -140px 0px
}
.xxl.p3 {
    width: 76px;
    background-position: -225px 0px
}
.xxl.p4 {
    width: 80px;
    background-position: -303px 0px
}
.xxl.p5 {
    width: 80px;
    background-position: -385px 0px
}
.xxl.p6 {
    width: 74px;
    background-position: -465px 0px
}
.xxl.p7 {
    width: 81px;
    background-position: -541px 0px
}
.xxl.p8, .xxl.p9, .xxl.p0 {
    width: 81px
}
.xxl.p8 {
    background-position: -624px 0px;
    width: 74px
}
.xxl.p9 {
    background-position: -699px 0px;
    width: 74px
}
.xxl.p0 {
    width: 76px
}
.xxl.p-nocomma {
    width: 79px;
    background-position: -774px 0px
}
.xxl.p-comma {
    width: 39px;
    background-position: -856px 0px
}
.xxl.p0+.xxl.p0 {
    margin-left: -19px
}
.xxl.p0+.xxl.p1 {
    margin-left: -16px
}
.xxl.p0+.xxl.p2 {
    margin-left: -26px
}
.xxl.p0+.xxl.p3, .xxl.p0+.xxl.p4 {
    margin-left: -19px
}
.xxl.p0+.xxl.p5, .xxl.p0+.xxl.p6 {
    margin-left: -18px
}
.xxl.p0+.xxl.p7 {
    margin-left: -15px
}
.xxl.p0+.xxl.p8 {
    margin-left: -19px
}
.xxl.p0+.xxl.p9 {
    margin-left: -17px
}
.xxl.p1+.xxl.p0 {
    margin-left: -25px
}
.xxl.p1+.xxl.p1 {
    margin-left: -20px
}
.xxl.p1+.xxl.p2 {
    margin-left: -30px
}
.xxl.p1+.xxl.p3, .xxl.p1+.xxl.p4, .xxl.p1+.xxl.p5 {
    margin-left: -25px
}
.xxl.p1+.xxl.p6 {
    margin-left: -24px
}
.xxl.p1+.xxl.p7 {
    margin-left: -20px
}
.xxl.p1+.xxl.p8, .xxl.p1+.xxl.p9 {
    margin-left: -24px
}
.xxl.p2+.xxl.p0 {
    margin-left: -18px
}
.xxl.p2+.xxl.p1 {
    margin-left: -15px
}
.xxl.p2+.xxl.p2 {
    margin-left: -24px
}
.xxl.p2+.xxl.p3 {
    margin-left: -19px
}
.xxl.p2+.xxl.p4, .xxl.p2+.xxl.p5, .xxl.p2+.xxl.p6 {
    margin-left: -18px
}
.xxl.p2+.xxl.p7 {
    margin-left: -13px
}
.xxl.p2+.xxl.p8 {
    margin-left: -17px
}
.xxl.p2+.xxl.p9 {
    margin-left: -19px
}
.xxl.p3+.xxl.p0 {
    margin-left: -19px
}
.xxl.p3+.xxl.p1 {
    margin-left: -16px
}
.xxl.p3+.xxl.p2 {
    margin-left: -26px
}
.xxl.p3+.xxl.p3 {
    margin-left: -19px
}
.xxl.p3+.xxl.p4, .xxl.p3+.xxl.p5, .xxl.p3+.xxl.p6 {
    margin-left: -18px
}
.xxl.p3+.xxl.p7 {
    margin-left: -14px
}
.xxl.p3+.xxl.p8, .xxl.p3+.xxl.p9 {
    margin-left: -18px
}
.xxl.p4+.xxl.p0 {
    margin-left: -18px
}
.xxl.p4+.xxl.p1 {
    margin-left: -21px
}
.xxl.p4+.xxl.p2 {
    margin-left: -24px
}
.xxl.p4+.xxl.p3, .xxl.p4+.xxl.p4, .xxl.p4+.xxl.p5, .xxl.p4+.xxl.p6 {
    margin-left: -18px
}
.xxl.p4+.xxl.p7 {
    margin-left: -20px
}
.xxl.p4+.xxl.p8, .xxl.p4+.xxl.p9 {
    margin-left: -18px
}
.xxl.p5+.xxl.p0, .xxl.p5+.xxl.p1 {
    margin-left: -23px
}
.xxl.p5+.xxl.p2 {
    margin-left: -31px
}
.xxl.p5+.xxl.p3 {
    margin-left: -26px
}
.xxl.p5+.xxl.p4 {
    margin-left: -24px
}
.xxl.p5+.xxl.p5 {
    margin-left: -26px
}
.xxl.p5+.xxl.p6 {
    margin-left: -23px
}
.xxl.p5+.xxl.p7 {
    margin-left: -22px
}
.xxl.p5+.xxl.p8, .xxl.p5+.xxl.p9 {
    margin-left: -23px
}
.xxl.p6+.xxl.p0 {
    margin-left: -18px
}
.xxl.p6+.xxl.p1 {
    margin-left: -16px
}
.xxl.p6+.xxl.p2 {
    margin-left: -26px
}
.xxl.p6+.xxl.p3 {
    margin-left: -19px
}
.xxl.p6+.xxl.p4 {
    margin-left: -18px
}
.xxl.p6+.xxl.p5 {
    margin-left: -17px
}
.xxl.p6+.xxl.p6 {
    margin-left: -18px
}
.xxl.p6+.xxl.p7 {
    margin-left: -16px
}
.xxl.p6+.xxl.p8 {
    margin-left: -18px
}
.xxl.p6+.xxl.p9 {
    margin-left: -17px
}
.xxl.p7+.xxl.p0 {
    margin-left: -26px
}
.xxl.p7+.xxl.p1 {
    margin-left: -22px
}
.xxl.p7+.xxl.p2 {
    margin-left: -33px
}
.xxl.p7+.xxl.p3 {
    margin-left: -26px
}
.xxl.p7+.xxl.p4 {
    margin-left: -43px
}
.xxl.p7+.xxl.p5 {
    margin-left: -25px
}
.xxl.p7+.xxl.p6, .xxl.p7+.xxl.p7, .xxl.p7+.xxl.p8, .xxl.p7+.xxl.p9 {
    margin-left: -26px
}
.xxl.p8+.xxl.p0 {
    margin-left: -19px
}
.xxl.p8+.xxl.p1 {
    margin-left: -16px
}
.xxl.p8+.xxl.p2 {
    margin-left: -26px
}
.xxl.p8+.xxl.p3 {
    margin-left: -20px
}
.xxl.p8+.xxl.p4, .xxl.p8+.xxl.p5, .xxl.p8+.xxl.p6 {
    margin-left: -18px
}
.xxl.p8+.xxl.p7 {
    margin-left: -15px
}
.xxl.p8+.xxl.p8, .xxl.p8+.xxl.p9 {
    margin-left: -18px
}
.xxl.p9+.xxl.p0 {
    margin-left: -19px
}
.xxl.p9+.xxl.p1 {
    margin-left: -16px
}
.xxl.p9+.xxl.p2 {
    margin-left: -26px
}
.xxl.p9+.xxl.p3 {
    margin-left: -20px
}
.xxl.p9+.xxl.p4 {
    margin-left: -19px
}
.xxl.p9+.xxl.p5 {
    margin-left: -18px
}
.xxl.p9+.xxl.p6 {
    margin-left: -19px
}
.xxl.p9+.xxl.p7 {
    margin-left: -16px
}
.xxl.p9+.xxl.p8 {
    margin-left: -19px
}
.xxl.p9+.xxl.p9 {
    margin-left: -18px
}
.xxl.p0+.xxl.p-comma {
    margin-left: -25px
}
.xxl.p1+.xxl.p-comma {
    margin-left: -28px
}
.xxl.p2+.xxl.p-comma {
    margin-left: -24px
}
.xxl.p3+.xxl.p-comma, .xxl.p4+.xxl.p-comma {
    margin-left: -25px
}
.xxl.p5+.xxl.p-comma {
    margin-left: -30px
}
.xxl.p6+.xxl.p-comma {
    margin-left: -25px
}
.xxl.p7+.xxl.p-comma {
    margin-left: -36px
}
.xxl.p8+.xxl.p-comma, .xxl.p9+.xxl.p-comma, .xxl.p0+.xxl.p-nocomma {
    margin-left: -25px
}
.xxl.p1+.xxl.p-nocomma {
    margin-left: -28px
}
.xxl.p2+.xxl.p-nocomma {
    margin-left: -24px
}
.xxl.p3+.xxl.p-nocomma, .xxl.p4+.xxl.p-nocomma {
    margin-left: -25px
}
.xxl.p5+.xxl.p-nocomma {
    margin-left: -30px
}
.xxl.p6+.xxl.p-nocomma {
    margin-left: -25px
}
.xxl.p7+.xxl.p-nocomma {
    margin-left: -36px
}
.xxl.p8+.xxl.p-nocomma, .xxl.p9+.xxl.p-nocomma {
    margin-left: -25px
}
.xxl.small {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -896px 0px
}
.price.red .xxl.small {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.xxl.p0.small {
    margin-left: -10px;
    background-position: -896px 0px;
    width: 57px
}
.xxl.p1.small {
    margin-left: -10px;
    background-position: -954px 0px;
    width: 46px
}
.xxl.p2.small {
    margin-left: -10px;
    background-position: -1002px -1px;
    width: 62px
}
.xxl.p3.small {
    margin-left: -10px;
    background-position: -1065px 0px;
    width: 57px
}
.xxl.p4.small {
    margin-left: -10px;
    background-position: -1123px 0px;
    width: 61px
}
.xxl.p5.small {
    margin-left: -10px;
    background-position: -1185px 0px;
    width: 59px
}
.xxl.p6.small {
    margin-left: -10px;
    background-position: -1246px 0px;
    width: 55px
}
.xxl.p7.small {
    margin-left: -10px;
    background-position: -1302px 0px;
    width: 61px
}
.xxl.p8.small {
    margin-left: -10px;
    background-position: -1364px 0px;
    width: 56px
}
.xxl.p9.small {
    margin-left: -10px;
    background-position: -1421px 0px;
    width: 56px
}
.xxl.p0.small+.xxl.p0.small, .xxl.p0.small+.xxl.p1.small {
    margin-left: -12px
}
.xxl.p0.small+.xxl.p2.small {
    margin-left: -19px
}
.xxl.p0.small+.xxl.p3.small, .xxl.p0.small+.xxl.p4.small, .xxl.p0.small+.xxl.p5.small, .xxl.p0.small+.xxl.p6.small, .xxl.p0.small+.xxl.p8.small, .xxl.p0.small+.xxl.p9.small {
    margin-left: -15px
}
.xxl.p0.small+.xxl.p7.small {
    margin-left: -12px
}
.xxl.p1.small+.xxl.p0.small {
    margin-left: -19px
}
.xxl.p1.small+.xxl.p1.small {
    margin-left: -18px
}
.xxl.p1.small+.xxl.p2.small {
    margin-left: -23px
}
.xxl.p1.small+.xxl.p3.small {
    margin-left: -19px
}
.xxl.p1.small+.xxl.p4.small {
    margin-left: -20px
}
.xxl.p1.small+.xxl.p5.small {
    margin-left: -19px
}
.xxl.p1.small+.xxl.p6.small {
    margin-left: -18px
}
.xxl.p1.small+.xxl.p7.small {
    margin-left: -16px
}
.xxl.p1.small+.xxl.p8.small, .xxl.p1.small+.xxl.p9.small {
    margin-left: -19px
}
.xxl.p2.small+.xxl.p0.small {
    margin-left: -15px
}
.xxl.p2.small+.xxl.p1.small {
    margin-left: -13px
}
.xxl.p2.small+.xxl.p2.small {
    margin-left: -18px
}
.xxl.p2.small+.xxl.p3.small {
    margin-left: -14px
}
.xxl.p2.small+.xxl.p4.small {
    margin-left: -15px
}
.xxl.p2.small+.xxl.p5.small, .xxl.p2.small+.xxl.p6.small {
    margin-left: -14px
}
.xxl.p2.small+.xxl.p7.small {
    margin-left: -12px
}
.xxl.p2.small+.xxl.p8.small, .xxl.p2.small+.xxl.p9.small {
    margin-left: -15px
}
.xxl.p3.small+.xxl.p0.small {
    margin-left: -14px
}
.xxl.p3.small+.xxl.p1.small {
    margin-left: -13px
}
.xxl.p3.small+.xxl.p2.small {
    margin-left: -19px
}
.xxl.p3.small+.xxl.p3.small {
    margin-left: -15px
}
.xxl.p3.small+.xxl.p4.small, .xxl.p3.small+.xxl.p5.small, .xxl.p3.small+.xxl.p6.small {
    margin-left: -14px
}
.xxl.p3.small+.xxl.p7.small {
    margin-left: -12px
}
.xxl.p3.small+.xxl.p8.small, .xxl.p3.small+.xxl.p9.small {
    margin-left: -14px
}
.xxl.p4.small+.xxl.p0.small {
    margin-left: -15px
}
.xxl.p4.small+.xxl.p1.small {
    margin-left: -19px
}
.xxl.p4.small+.xxl.p2.small {
    margin-left: -20px
}
.xxl.p4.small+.xxl.p3.small {
    margin-left: -15px
}
.xxl.p4.small+.xxl.p4.small {
    margin-left: -16px
}
.xxl.p4.small+.xxl.p5.small, .xxl.p4.small+.xxl.p6.small {
    margin-left: -15px
}
.xxl.p4.small+.xxl.p7.small {
    margin-left: -18px
}
.xxl.p4.small+.xxl.p8.small, .xxl.p4.small+.xxl.p9.small {
    margin-left: -15px
}
.xxl.p5.small+.xxl.p0.small {
    margin-left: -17px
}
.xxl.p5.small+.xxl.p1.small {
    margin-left: -18px
}
.xxl.p5.small+.xxl.p2.small {
    margin-left: -24px
}
.xxl.p5.small+.xxl.p3.small, .xxl.p5.small+.xxl.p4.small, .xxl.p5.small+.xxl.p5.small, .xxl.p5.small+.xxl.p6.small {
    margin-left: -19px
}
.xxl.p5.small+.xxl.p7.small {
    margin-left: -18px
}
.xxl.p5.small+.xxl.p8.small {
    margin-left: -19px
}
.xxl.p5.small+.xxl.p9.small {
    margin-left: -18px
}
.xxl.p6.small+.xxl.p0.small, .xxl.p6.small+.xxl.p1.small {
    margin-left: -13px
}
.xxl.p6.small+.xxl.p2.small {
    margin-left: -19px
}
.xxl.p6.small+.xxl.p3.small, .xxl.p6.small+.xxl.p4.small {
    margin-left: -14px
}
.xxl.p6.small+.xxl.p5.small, .xxl.p6.small+.xxl.p6.small, .xxl.p6.small+.xxl.p7.small, .xxl.p6.small+.xxl.p8.small, .xxl.p6.small+.xxl.p9.small {
    margin-left: -13px
}
.xxl.p7.small+.xxl.p1.small {
    margin-left: -18px
}
.xxl.p7.small+.xxl.p2.small {
    margin-left: -26px
}
.xxl.p7.small+.xxl.p3.small {
    margin-left: -20px
}
.xxl.p7.small+.xxl.p4.small {
    margin-left: -30px
}
.xxl.p7.small+.xxl.p5.small, .xxl.p7.small+.xxl.p6.small {
    margin-left: -19px
}
.xxl.p7.small+.xxl.p7.small {
    margin-left: -17px
}
.xxl.p7.small+.xxl.p8.small, .xxl.p7.small+.xxl.p9.small, .xxl.p7.small+.xxl.p0.small {
    margin-left: -20px
}
.xxl.p8.small+.xxl.p1.small {
    margin-left: -13px
}
.xxl.p8.small+.xxl.p2.small {
    margin-left: -20px
}
.xxl.p8.small+.xxl.p3.small, .xxl.p8.small+.xxl.p4.small {
    margin-left: -15px
}
.xxl.p8.small+.xxl.p5.small, .xxl.p8.small+.xxl.p6.small {
    margin-left: -14px
}
.xxl.p8.small+.xxl.p7.small {
    margin-left: -13px
}
.xxl.p8.small+.xxl.p8.small, .xxl.p8.small+.xxl.p9.small, .xxl.p8.small+.xxl.p0.small {
    margin-left: -15px
}
.xxl.p9.small+.xxl.p1.small {
    margin-left: -13px
}
.xxl.p9.small+.xxl.p2.small {
    margin-left: -20px
}
.xxl.p9.small+.xxl.p3.small, .xxl.p9.small+.xxl.p4.small, .xxl.p9.small+.xxl.p5.small, .xxl.p9.small+.xxl.p6.small {
    margin-left: -15px
}
.xxl.p9.small+.xxl.p7.small {
    margin-left: -13px
}
.xxl.p9.small+.xxl.p8.small, .xxl.p9.small+.xxl.p9.small, .xxl.p9.small+.xxl.p0.small {
    margin-left: -15px
}
.xxl.p-comma+.xxl.p0.small {
    margin-left: -10px
}
.xxl.p-comma+.xxl.p1.small {
    margin-left: -8px
}
.xxl.p-comma+.xxl.p2.small {
    margin-left: -7px
}
.xxl.p-comma+.xxl.p3.small {
    margin-left: -10px
}
.xxl.p-comma+.xxl.p4.small {
    margin-left: -15px
}
.xxl.p-comma+.xxl.p5.small, .xxl.p-comma+.xxl.p6.small, .xxl.p-comma+.xxl.p7.small, .xxl.p-comma+.xxl.p8.small, .xxl.p-comma+.xxl.p9.small {
    margin-left: -10px
}
.lg.p1 {
    background-position: -77px -161px
}
.lg.p2 {
    background-position: -140px -161px;
    width: 47px
}
.lg.p3 {
    background-position: -225px -161px;
    width: 43px
}
.lg.p4 {
    background-position: -303px -161px;
    width: 45px
}
.lg.p5 {
    background-position: -385px -161px;
    width: 45px
}
.lg.p6 {
    background-position: -465px -161px;
    width: 44px
}
.lg.p7 {
    background-position: -540px -161px;
    width: 47px
}
.lg.p8 {
    background-position: -623px -161px;
    width: 43px
}
.lg.p9 {
    background-position: -699px -161px;
    width: 43px
}
.lg.p0 {
    background-position: 0px -161px;
    width: 43px
}
.lg.p-nocomma {
    width: 46px;
    background-position: -774px -161px
}
.lg.p-comma {
    width: 25px;
    background-position: -855px -161px
}
.lg.p0+.lg.p0, .lg.p0+.lg.p1 {
    margin-left: -12px
}
.lg.p0+.lg.p2 {
    margin-left: -16px
}
.lg.p0+.lg.p3, .lg.p0+.lg.p4, .lg.p0+.lg.p5, .lg.p0+.lg.p6 {
    margin-left: -13px
}
.lg.p0+.lg.p7 {
    margin-left: -11px
}
.lg.p0+.lg.p8, .lg.p0+.lg.p9 {
    margin-left: -13px
}
.lg.p1+.lg.p0, .lg.p1+.lg.p1 {
    margin-left: -15px
}
.lg.p1+.lg.p2 {
    margin-left: -19px
}
.lg.p1+.lg.p3, .lg.p1+.lg.p4, .lg.p1+.lg.p5, .lg.p1+.lg.p6 {
    margin-left: -16px
}
.lg.p1+.lg.p7 {
    margin-left: -14px
}
.lg.p1+.lg.p8, .lg.p1+.lg.p9 {
    margin-left: -16px
}
.lg.p2+.lg.p0, .lg.p2+.lg.p1 {
    margin-left: -13px
}
.lg.p2+.lg.p2 {
    margin-left: -17px
}
.lg.p2+.lg.p3 {
    margin-left: -14px
}
.lg.p2+.lg.p4 {
    margin-left: -16px
}
.lg.p2+.lg.p5, .lg.p2+.lg.p6 {
    margin-left: -14px
}
.lg.p2+.lg.p7 {
    margin-left: -10px
}
.lg.p2+.lg.p8, .lg.p2+.lg.p9 {
    margin-left: -13px
}
.lg.p3+.lg.p0 {
    margin-left: -12px
}
.lg.p3+.lg.p1 {
    margin-left: -11px
}
.lg.p3+.lg.p2 {
    margin-left: -16px
}
.lg.p3+.lg.p3, .lg.p3+.lg.p4, .lg.p3+.lg.p5, .lg.p3+.lg.p6 {
    margin-left: -12px
}
.lg.p3+.lg.p7 {
    margin-left: -10px
}
.lg.p3+.lg.p8, .lg.p3+.lg.p9 {
    margin-left: -13px
}
.lg.p4+.lg.p0 {
    margin-left: -12px
}
.lg.p4+.lg.p1 {
    margin-left: -13px
}
.lg.p4+.lg.p2 {
    margin-left: -14px
}
.lg.p4+.lg.p3, .lg.p4+.lg.p4, .lg.p4+.lg.p5, .lg.p4+.lg.p6 {
    margin-left: -12px
}
.lg.p4+.lg.p7 {
    margin-left: -13px
}
.lg.p4+.lg.p8, .lg.p4+.lg.p9 {
    margin-left: -12px
}
.lg.p5+.lg.p0, .lg.p5+.lg.p1 {
    margin-left: -15px
}
.lg.p5+.lg.p2 {
    margin-left: -19px
}
.lg.p5+.lg.p3 {
    margin-left: -16px
}
.lg.p5+.lg.p4, .lg.p5+.lg.p5, .lg.p5+.lg.p6 {
    margin-left: -15px
}
.lg.p5+.lg.p7 {
    margin-left: -14px
}
.lg.p5+.lg.p8 {
    margin-left: -16px
}
.lg.p5+.lg.p9 {
    margin-left: -15px
}
.lg.p6+.lg.p0 {
    margin-left: -13px
}
.lg.p6+.lg.p1 {
    margin-left: -12px
}
.lg.p6+.lg.p2 {
    margin-left: -17px
}
.lg.p6+.lg.p3 {
    margin-left: -14px
}
.lg.p6+.lg.p4 {
    margin-left: -12px
}
.lg.p6+.lg.p5, .lg.p6+.lg.p6, .lg.p6+.lg.p7, .lg.p6+.lg.p8, .lg.p6+.lg.p9 {
    margin-left: -13px
}
.lg.p7+.lg.p0 {
    margin-left: -16px
}
.lg.p7+.lg.p1 {
    margin-left: -15px
}
.lg.p7+.lg.p2 {
    margin-left: -21px
}
.lg.p7+.lg.p3 {
    margin-left: -17px
}
.lg.p7+.lg.p4 {
    margin-left: -24px
}
.lg.p7+.lg.p5 {
    margin-left: -15px
}
.lg.p7+.lg.p6 {
    margin-left: -16px
}
.lg.p7+.lg.p7 {
    margin-left: -14px
}
.lg.p7+.lg.p8 {
    margin-left: -17px
}
.lg.p7+.lg.p9 {
    margin-left: -16px
}
.lg.p8+.lg.p0 {
    margin-left: -13px
}
.lg.p8+.lg.p1 {
    margin-left: -12px
}
.lg.p8+.lg.p2 {
    margin-left: -16px
}
.lg.p8+.lg.p3, .lg.p8+.lg.p4, .lg.p8+.lg.p5, .lg.p8+.lg.p6, .lg.p8+.lg.p7 {
    margin-left: -12px
}
.lg.p8+.lg.p8 {
    margin-left: -13px
}
.lg.p8+.lg.p9 {
    margin-left: -12px
}
.lg.p9+.lg.p0, .lg.p9+.lg.p1 {
    margin-left: -12px
}
.lg.p9+.lg.p2 {
    margin-left: -16px
}
.lg.p9+.lg.p3 {
    margin-left: -13px
}
.lg.p9+.lg.p4, .lg.p9+.lg.p5, .lg.p9+.lg.p6, .lg.p9+.lg.p7, .lg.p9+.lg.p8, .lg.p9+.lg.p9 {
    margin-left: -12px
}
.lg.p0+.lg.p-comma, .lg.p1+.lg.p-comma, .lg.p2+.lg.p-comma, .lg.p3+.lg.p-comma, .lg.p4+.lg.p-comma {
    margin-left: -16px
}
.lg.p5+.lg.p-comma {
    margin-left: -18px
}
.lg.p6+.lg.p-comma {
    margin-left: -16px
}
.lg.p7+.lg.p-comma {
    margin-left: -26px
}
.lg.p8+.lg.p-comma, .lg.p9+.lg.p-comma, .lg.p0+.lg.p-nocomma, .lg.p1+.lg.p-nocomma, .lg.p2+.lg.p-nocomma, .lg.p3+.lg.p-nocomma, .lg.p4+.lg.p-nocomma {
    margin-left: -16px
}
.lg.p5+.lg.p-nocomma {
    margin-left: -18px
}
.lg.p6+.lg.p-nocomma {
    margin-left: -16px
}
.lg.p7+.lg.p-nocomma {
    margin-left: -30px
}
.lg.p8+.lg.p-nocomma, .lg.p9+.lg.p-nocomma {
    margin-left: -16px
}
.lg.small {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -896px -161px
}
.price.red .lg.small {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.lg.p0.small {
    margin-left: -10px;
    background-position: -896px -161px;
    width: 33px
}
.lg.p1.small {
    margin-left: -10px;
    background-position: -954px -161px;
    width: 27px
}
.lg.p2.small {
    margin-left: -10px;
    background-position: -1001px -161px;
    width: 37px
}
.lg.p3.small {
    margin-left: -10px;
    background-position: -1064px -161px;
    width: 35px
}
.lg.p4.small {
    margin-left: -10px;
    background-position: -1123px -161px;
    width: 35px
}
.lg.p5.small {
    margin-left: -10px;
    background-position: -1185px -160px;
    width: 35px
}
.lg.p6.small {
    margin-left: -10px;
    background-position: -1245px -161px;
    width: 35px
}
.lg.p7.small {
    margin-left: -10px;
    background-position: -1302px -161px;
    width: 35px
}
.lg.p8.small {
    margin-left: -10px;
    background-position: -1364px -161px;
    width: 35px
}
.lg.p9.small {
    margin-left: -10px;
    background-position: -1420px -161px;
    width: 33px
}
.lg.p0.small+.lg.p0.small, .lg.p0.small+.lg.p1.small {
    margin-left: -10px
}
.lg.p0.small+.lg.p2.small {
    margin-left: -14px
}
.lg.p0.small+.lg.p3.small, .lg.p0.small+.lg.p4.small, .lg.p0.small+.lg.p5.small, .lg.p0.small+.lg.p6.small, .lg.p0.small+.lg.p8.small, .lg.p0.small+.lg.p9.small {
    margin-left: -11px
}
.lg.p0.small+.lg.p7.small {
    margin-left: -9px
}
.lg.p1.small+.lg.p0.small {
    margin-left: -13px
}
.lg.p1.small+.lg.p1.small {
    margin-left: -12px
}
.lg.p1.small+.lg.p2.small {
    margin-left: -16px
}
.lg.p1.small+.lg.p3.small {
    margin-left: -14px
}
.lg.p1.small+.lg.p4.small, .lg.p1.small+.lg.p5.small {
    margin-left: -13px
}
.lg.p1.small+.lg.p6.small {
    margin-left: -14px
}
.lg.p1.small+.lg.p7.small {
    margin-left: -11px
}
.lg.p1.small+.lg.p8.small, .lg.p1.small+.lg.p9.small {
    margin-left: -13px
}
.lg.p2.small+.lg.p0.small {
    margin-left: -12px
}
.lg.p2.small+.lg.p1.small {
    margin-left: -11px
}
.lg.p2.small+.lg.p2.small, .lg.p2.small+.lg.p3.small {
    margin-left: -14px
}
.lg.p2.small+.lg.p4.small {
    margin-left: -15px
}
.lg.p2.small+.lg.p5.small, .lg.p2.small+.lg.p6.small {
    margin-left: -12px
}
.lg.p2.small+.lg.p7.small {
    margin-left: -10px
}
.lg.p2.small+.lg.p8.small, .lg.p2.small+.lg.p9.small {
    margin-left: -12px
}
.lg.p3.small+.lg.p0.small {
    margin-left: -12px
}
.lg.p3.small+.lg.p1.small {
    margin-left: -11px
}
.lg.p3.small+.lg.p2.small {
    margin-left: -14px
}
.lg.p3.small+.lg.p3.small {
    margin-left: -13px
}
.lg.p3.small+.lg.p4.small, .lg.p3.small+.lg.p5.small, .lg.p3.small+.lg.p6.small {
    margin-left: -12px
}
.lg.p3.small+.lg.p7.small {
    margin-left: -10px
}
.lg.p3.small+.lg.p8.small, .lg.p3.small+.lg.p9.small {
    margin-left: -12px
}
.lg.p4.small+.lg.p0.small {
    margin-left: -11px
}
.lg.p4.small+.lg.p1.small {
    margin-left: -12px
}
.lg.p4.small+.lg.p2.small {
    margin-left: -15px
}
.lg.p4.small+.lg.p3.small {
    margin-left: -13px
}
.lg.p4.small+.lg.p4.small, .lg.p4.small+.lg.p5.small, .lg.p4.small+.lg.p6.small {
    margin-left: -12px
}
.lg.p4.small+.lg.p7.small {
    margin-left: -11px
}
.lg.p4.small+.lg.p8.small, .lg.p4.small+.lg.p9.small {
    margin-left: -12px
}
.lg.p5.small+.lg.p0.small {
    margin-left: -13px
}
.lg.p5.small+.lg.p1.small {
    margin-left: -14px
}
.lg.p5.small+.lg.p2.small {
    margin-left: -16px
}
.lg.p5.small+.lg.p3.small, .lg.p5.small+.lg.p4.small, .lg.p5.small+.lg.p5.small, .lg.p5.small+.lg.p6.small {
    margin-left: -14px
}
.lg.p5.small+.lg.p7.small {
    margin-left: -12px
}
.lg.p5.small+.lg.p8.small, .lg.p5.small+.lg.p9.small {
    margin-left: -14px
}
.lg.p6.small+.lg.p0.small, .lg.p6.small+.lg.p1.small {
    margin-left: -13px
}
.lg.p6.small+.lg.p2.small {
    margin-left: -16px
}
.lg.p6.small+.lg.p3.small, .lg.p6.small+.lg.p4.small {
    margin-left: -14px
}
.lg.p6.small+.lg.p5.small, .lg.p6.small+.lg.p6.small, .lg.p6.small+.lg.p7.small, .lg.p6.small+.lg.p8.small, .lg.p6.small+.lg.p9.small {
    margin-left: -13px
}
.lg.p7.small+.lg.p1.small {
    margin-left: -13px
}
.lg.p7.small+.lg.p2.small {
    margin-left: -17px
}
.lg.p7.small+.lg.p3.small {
    margin-left: -15px
}
.lg.p7.small+.lg.p4.small {
    margin-left: -18px
}
.lg.p7.small+.lg.p5.small, .lg.p7.small+.lg.p6.small {
    margin-left: -13px
}
.lg.p7.small+.lg.p7.small {
    margin-left: -11px
}
.lg.p7.small+.lg.p8.small {
    margin-left: -13px
}
.lg.p7.small+.lg.p9.small, .lg.p7.small+.lg.p0.small {
    margin-left: -15px
}
.lg.p8.small+.lg.p1.small {
    margin-left: -13px
}
.lg.p8.small+.lg.p2.small {
    margin-left: -17px
}
.lg.p8.small+.lg.p3.small, .lg.p8.small+.lg.p4.small {
    margin-left: -15px
}
.lg.p8.small+.lg.p5.small, .lg.p8.small+.lg.p6.small {
    margin-left: -14px
}
.lg.p8.small+.lg.p7.small, .lg.p8.small+.lg.p8.small, .lg.p8.small+.lg.p9.small, .lg.p8.small+.lg.p0.small {
    margin-left: -13px
}
.lg.p9.small+.lg.p1.small {
    margin-left: -10px
}
.lg.p9.small+.lg.p2.small {
    margin-left: -14px
}
.lg.p9.small+.lg.p3.small, .lg.p9.small+.lg.p4.small, .lg.p9.small+.lg.p5.small, .lg.p9.small+.lg.p6.small {
    margin-left: -11px
}
.lg.p9.small+.lg.p7.small {
    margin-left: -10px
}
.lg.p9.small+.lg.p8.small, .lg.p9.small+.lg.p9.small, .lg.p9.small+.lg.p0.small {
    margin-left: -11px
}
.lg.p-comma+.lg.p0.small {
    margin-left: -10px
}
.lg.p-comma+.lg.p1.small {
    margin-left: -8px
}
.lg.p-comma+.lg.p2.small {
    margin-left: -7px
}
.lg.p-comma+.lg.p3.small {
    margin-left: -10px
}
.lg.p-comma+.lg.p4.small {
    margin-left: -9px
}
.lg.p-comma+.lg.p5.small, .lg.p-comma+.lg.p6.small, .lg.p-comma+.lg.p7.small, .lg.p-comma+.lg.p8.small, .lg.p-comma+.lg.p9.small {
    margin-left: -10px
}
.md.p1 {
    background-position: -77px -216px
}
.md.p2 {
    background-position: -140px -216px;
    width: 39px
}
.md.p3 {
    background-position: -225px -216px;
    width: 37px
}
.md.p4 {
    background-position: -303px -216px;
    width: 38px
}
.md.p5 {
    background-position: -385px -216px;
    width: 37px
}
.md.p6 {
    background-position: -465px -216px;
    width: 37px
}
.md.p7 {
    background-position: -540px -216px;
    width: 39px
}
.md.p8 {
    background-position: -623px -216px;
    width: 37px
}
.md.p9 {
    background-position: -699px -216px;
    width: 37px
}
.md.p0 {
    background-position: 0px -216px;
    width: 36px
}
.md.p-nocomma {
    width: 38px;
    background-position: -774px -216px
}
.md.p-comma {
    width: 21px;
    background-position: -855px -216px
}
.md.p0+.md.p0 {
    margin-left: -11px
}
.md.p0+.md.p1 {
    margin-left: -10px
}
.md.p0+.md.p2 {
    margin-left: -14px
}
.md.p0+.md.p3 {
    margin-left: -11px
}
.md.p0+.md.p4 {
    margin-left: -10px
}
.md.p0+.md.p5, .md.p0+.md.p6 {
    margin-left: -11px
}
.md.p0+.md.p7 {
    margin-left: -10px
}
.md.p0+.md.p8, .md.p0+.md.p9 {
    margin-left: -11px
}
.md.p1+.md.p0 {
    margin-left: -19px
}
.md.p1+.md.p1 {
    margin-left: -18px
}
.md.p1+.md.p2 {
    margin-left: -20px
}
.md.p1+.md.p3 {
    margin-left: -19px
}
.md.p1+.md.p4 {
    margin-left: -18px
}
.md.p1+.md.p5 {
    margin-left: -19px
}
.md.p1+.md.p6 {
    margin-left: -18px
}
.md.p1+.md.p7 {
    margin-left: -17px
}
.md.p1+.md.p8, .md.p1+.md.p9 {
    margin-left: -19px
}
.md.p2+.md.p0, .md.p2+.md.p1 {
    margin-left: -11px
}
.md.p2+.md.p2 {
    margin-left: -13px
}
.md.p2+.md.p3 {
    margin-left: -11px
}
.md.p2+.md.p4 {
    margin-left: -12px
}
.md.p2+.md.p5, .md.p2+.md.p6 {
    margin-left: -11px
}
.md.p2+.md.p7 {
    margin-left: -10px
}
.md.p2+.md.p8 {
    margin-left: -11px
}
.md.p2+.md.p9 {
    margin-left: -10px
}
.md.p3+.md.p0 {
    margin-left: -12px
}
.md.p3+.md.p1 {
    margin-left: -11px
}
.md.p3+.md.p2 {
    margin-left: -15px
}
.md.p3+.md.p3, .md.p3+.md.p4, .md.p3+.md.p5, .md.p3+.md.p6 {
    margin-left: -12px
}
.md.p3+.md.p7 {
    margin-left: -10px
}
.md.p3+.md.p8 {
    margin-left: -12px
}
.md.p3+.md.p9 {
    margin-left: -11px
}
.md.p4+.md.p0 {
    margin-left: -11px
}
.md.p4+.md.p1 {
    margin-left: -13px
}
.md.p4+.md.p2 {
    margin-left: -15px
}
.md.p4+.md.p3 {
    margin-left: -11px
}
.md.p4+.md.p4, .md.p4+.md.p5 {
    margin-left: -10px
}
.md.p4+.md.p6 {
    margin-left: -11px
}
.md.p4+.md.p7 {
    margin-left: -13px
}
.md.p4+.md.p8, .md.p4+.md.p9 {
    margin-left: -11px
}
.md.p5+.md.p0, .md.p5+.md.p1 {
    margin-left: -12px
}
.md.p5+.md.p2 {
    margin-left: -16px
}
.md.p5+.md.p3 {
    margin-left: -13px
}
.md.p5+.md.p4 {
    margin-left: -12px
}
.md.p5+.md.p5 {
    margin-left: -13px
}
.md.p5+.md.p6, .md.p5+.md.p7 {
    margin-left: -12px
}
.md.p5+.md.p8, .md.p5+.md.p9 {
    margin-left: -13px
}
.md.p6+.md.p0 {
    margin-left: -12px
}
.md.p6+.md.p1 {
    margin-left: -11px
}
.md.p6+.md.p2 {
    margin-left: -14px
}
.md.p6+.md.p3 {
    margin-left: -12px
}
.md.p6+.md.p4, .md.p6+.md.p5, .md.p6+.md.p6, .md.p6+.md.p7 {
    margin-left: -11px
}
.md.p6+.md.p8, .md.p6+.md.p9 {
    margin-left: -12px
}
.md.p7+.md.p0 {
    margin-left: -14px
}
.md.p7+.md.p1 {
    margin-left: -13px
}
.md.p7+.md.p2 {
    margin-left: -17px
}
.md.p7+.md.p3 {
    margin-left: -14px
}
.md.p7+.md.p4 {
    margin-left: -20px
}
.md.p7+.md.p5, .md.p7+.md.p6 {
    margin-left: -14px
}
.md.p7+.md.p7 {
    margin-left: -12px
}
.md.p7+.md.p8 {
    margin-left: -15px
}
.md.p7+.md.p9 {
    margin-left: -14px
}
.md.p8+.md.p0 {
    margin-left: -12px
}
.md.p8+.md.p1 {
    margin-left: -11px
}
.md.p8+.md.p2 {
    margin-left: -14px
}
.md.p8+.md.p3 {
    margin-left: -12px
}
.md.p8+.md.p4, .md.p8+.md.p5 {
    margin-left: -11px
}
.md.p8+.md.p6 {
    margin-left: -12px
}
.md.p8+.md.p7 {
    margin-left: -10px
}
.md.p8+.md.p8, .md.p8+.md.p9 {
    margin-left: -12px
}
.md.p9+.md.p0, .md.p9+.md.p1 {
    margin-left: -12px
}
.md.p9+.md.p2 {
    margin-left: -16px
}
.md.p9+.md.p3 {
    margin-left: -13px
}
.md.p9+.md.p4, .md.p9+.md.p5, .md.p9+.md.p6 {
    margin-left: -12px
}
.md.p9+.md.p7 {
    margin-left: -11px
}
.md.p9+.md.p8, .md.p9+.md.p9 {
    margin-left: -12px
}
.md.p0+.md.p-comma {
    margin-left: -14px
}
.md.p1+.md.p-comma {
    margin-left: -19px
}
.md.p2+.md.p-comma, .md.p3+.md.p-comma, .md.p4+.md.p-comma {
    margin-left: -14px
}
.md.p5+.md.p-comma {
    margin-left: -16px
}
.md.p6+.md.p-comma {
    margin-left: -14px
}
.md.p7+.md.p-comma {
    margin-left: -22px
}
.md.p8+.md.p-comma, .md.p9+.md.p-comma {
    margin-left: -14px
}
.md.p0+.md.p-nocomma {
    margin-left: -13px
}
.md.p1+.md.p-nocomma {
    margin-left: -18px
}
.md.p2+.md.p-nocomma {
    margin-left: -11px
}
.md.p3+.md.p-nocomma {
    margin-left: -12px
}
.md.p4+.md.p-nocomma {
    margin-left: -11px
}
.md.p5+.md.p-nocomma {
    margin-left: -13px
}
.md.p6+.md.p-nocomma {
    margin-left: -12px
}
.md.p7+.md.p-nocomma {
    margin-left: -20px
}
.md.p8+.md.p-nocomma, .md.p9+.md.p-nocomma {
    margin-left: -12px
}
.md.p-comma+.md.p0.small, .md.p-comma+.md.p1.small, .md.p-comma+.md.p2.small {
    margin-left: -7px
}
.md.p-comma+.md.p3.small {
    margin-left: -6px
}
.md.p-comma+.md.p4.small {
    margin-left: -5px
}
.md.p-comma+.md.p5.small {
    margin-left: -6px
}
.md.p-comma+.md.p6.small {
    margin-left: -5px
}
.md.p-comma+.md.p7.small, .md.p-comma+.md.p8.small, .md.p-comma+.md.p9.small {
    margin-left: -6px
}
.md.small {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -896px -161px
}
.price.red .md.small {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.md.p0.small {
    margin-left: -10px;
    background-position: -896px -216px;
    width: 27px
}
.md.p1.small {
    margin-left: -10px;
    background-position: -954px -216px;
    width: 27px
}
.md.p2.small {
    margin-left: -10px;
    background-position: -999px -216px;
    width: 33px
}
.md.p3.small {
    margin-left: -10px;
    background-position: -1065px -216px;
    width: 28px
}
.md.p4.small {
    margin-left: -10px;
    background-position: -1124px -216px;
    width: 27px
}
.md.p5.small {
    margin-left: -10px;
    background-position: -1185px -215px;
    width: 30px
}
.md.p6.small {
    margin-left: -10px;
    background-position: -1246px -216px;
    width: 27px
}
.md.p7.small {
    margin-left: -10px;
    background-position: -1300px -216px;
    width: 31px
}
.md.p8.small {
    margin-left: -10px;
    background-position: -1364px -216px;
    width: 31px
}
.md.p9.small {
    margin-left: -10px;
    background-position: -1420px -216px;
    width: 31px
}
.md.p0.small+.md.p0.small, .md.p0.small+.md.p1.small {
    margin-left: -9px
}
.md.p0.small+.md.p2.small {
    margin-left: -13px
}
.md.p0.small+.md.p3.small, .md.p0.small+.md.p4.small, .md.p0.small+.md.p5.small, .md.p0.small+.md.p6.small, .md.p0.small+.md.p8.small, .md.p0.small+.md.p9.small {
    margin-left: -8px
}
.md.p0.small+.md.p7.small {
    margin-left: -10px
}
.md.p1.small+.md.p0.small, .md.p1.small+.md.p1.small {
    margin-left: -15px
}
.md.p1.small+.md.p2.small {
    margin-left: -19px
}
.md.p1.small+.md.p3.small, .md.p1.small+.md.p4.small, .md.p1.small+.md.p5.small {
    margin-left: -16px
}
.md.p1.small+.md.p6.small {
    margin-left: -15px
}
.md.p1.small+.md.p7.small, .md.p1.small+.md.p8.small, .md.p1.small+.md.p9.small {
    margin-left: -16px
}
.md.p2.small+.md.p0.small, .md.p2.small+.md.p1.small {
    margin-left: -10px
}
.md.p2.small+.md.p2.small {
    margin-left: -15px
}
.md.p2.small+.md.p3.small, .md.p2.small+.md.p4.small, .md.p2.small+.md.p5.small, .md.p2.small+.md.p6.small {
    margin-left: -10px
}
.md.p2.small+.md.p7.small {
    margin-left: -11px
}
.md.p2.small+.md.p8.small, .md.p2.small+.md.p9.small {
    margin-left: -10px
}
.md.p3.small+.md.p0.small, .md.p3.small+.md.p1.small {
    margin-left: -10px
}
.md.p3.small+.md.p2.small {
    margin-left: -14px
}
.md.p3.small+.md.p3.small {
    margin-left: -10px
}
.md.p3.small+.md.p4.small {
    margin-left: -9px
}
.md.p3.small+.md.p5.small, .md.p3.small+.md.p6.small, .md.p3.small+.md.p7.small, .md.p3.small+.md.p8.small, .md.p3.small+.md.p9.small {
    margin-left: -10px
}
.md.p4.small+.md.p0.small {
    margin-left: -8px
}
.md.p4.small+.md.p1.small {
    margin-left: -9px
}
.md.p4.small+.md.p2.small {
    margin-left: -12px
}
.md.p4.small+.md.p3.small, .md.p4.small+.md.p4.small, .md.p4.small+.md.p5.small, .md.p4.small+.md.p6.small {
    margin-left: -7px
}
.md.p4.small+.md.p7.small {
    margin-left: -10px
}
.md.p4.small+.md.p8.small, .md.p4.small+.md.p9.small {
    margin-left: -9px
}
.md.p5.small+.md.p0.small {
    margin-left: -11px
}
.md.p5.small+.md.p1.small {
    margin-left: -10px
}
.md.p5.small+.md.p2.small {
    margin-left: -16px
}
.md.p5.small+.md.p3.small, .md.p5.small+.md.p4.small, .md.p5.small+.md.p5.small, .md.p5.small+.md.p6.small {
    margin-left: -11px
}
.md.p5.small+.md.p7.small, .md.p5.small+.md.p8.small, .md.p5.small+.md.p9.small {
    margin-left: -12px
}
.md.p6.small+.md.p0.small, .md.p6.small+.md.p1.small {
    margin-left: -9px
}
.md.p6.small+.md.p2.small {
    margin-left: -13px
}
.md.p6.small+.md.p3.small {
    margin-left: -9px
}
.md.p6.small+.md.p4.small {
    margin-left: -8px
}
.md.p6.small+.md.p5.small, .md.p6.small+.md.p6.small {
    margin-left: -9px
}
.md.p6.small+.md.p7.small {
    margin-left: -11px
}
.md.p6.small+.md.p8.small, .md.p6.small+.md.p9.small {
    margin-left: -10px
}
.md.p7.small+.md.p1.small {
    margin-left: -10px
}
.md.p7.small+.md.p2.small {
    margin-left: -16px
}
.md.p7.small+.md.p3.small {
    margin-left: -11px
}
.md.p7.small+.md.p4.small {
    margin-left: -14px
}
.md.p7.small+.md.p5.small, .md.p7.small+.md.p6.small {
    margin-left: -11px
}
.md.p7.small+.md.p7.small, .md.p7.small+.md.p8.small, .md.p7.small+.md.p9.small, .md.p7.small+.md.p0.small {
    margin-left: -12px
}
.md.p8.small+.md.p1.small {
    margin-left: -12px
}
.md.p8.small+.md.p2.small {
    margin-left: -17px
}
.md.p8.small+.md.p3.small, .md.p8.small+.md.p4.small {
    margin-left: -12px
}
.md.p8.small+.md.p5.small {
    margin-left: -13px
}
.md.p8.small+.md.p6.small {
    margin-left: -12px
}
.md.p8.small+.md.p7.small, .md.p8.small+.md.p8.small, .md.p8.small+.md.p9.small, .md.p8.small+.md.p0.small {
    margin-left: -13px
}
.md.p9.small+.md.p1.small {
    margin-left: -11px
}
.md.p9.small+.md.p2.small {
    margin-left: -16px
}
.md.p9.small+.md.p3.small, .md.p9.small+.md.p4.small, .md.p9.small+.md.p5.small, .md.p9.small+.md.p6.small {
    margin-left: -12px
}
.md.p9.small+.md.p7.small {
    margin-left: -13px
}
.md.p9.small+.md.p8.small, .md.p9.small+.md.p9.small, .md.p9.small+.md.p0.small {
    margin-left: -12px
}
.sm.p1 {
    background-position: -77px -262px
}
.sm.p2 {
    background-position: -140px -262px;
    width: 26px
}
.sm.p3 {
    background-position: -225px -262px;
    width: 26px
}
.sm.p4 {
    background-position: -303px -262px;
    width: 29px
}
.sm.p5 {
    background-position: -385px -262px;
    width: 26px
}
.sm.p6 {
    background-position: -465px -262px;
    width: 26px
}
.sm.p7 {
    background-position: -540px -262px;
    width: 26px
}
.sm.p8 {
    background-position: -623px -262px;
    width: 26px
}
.sm.p9 {
    background-position: -699px -262px;
    width: 37px
}
.sm.p0 {
    background-position: 0px -262px;
    width: 26px
}
.sm.p-nocomma {
    width: 28px;
    background-position: -774px -262px
}
.sm.p-comma {
    width: 25px;
    background-position: -851px -262px
}
.sm.p0+.sm.p0 {
    margin-left: -9px
}
.sm.p0+.sm.p1 {
    margin-left: -8px
}
.sm.p0+.sm.p2 {
    margin-left: -10px
}
.sm.p0+.sm.p3 {
    margin-left: -9px
}
.sm.p0+.sm.p4, .sm.p0+.sm.p5 {
    margin-left: -8px
}
.sm.p0+.sm.p6 {
    margin-left: -9px
}
.sm.p0+.sm.p7 {
    margin-left: -8px
}
.sm.p0+.sm.p8, .sm.p0+.sm.p9 {
    margin-left: -9px
}
.sm.p1+.sm.p0, .sm.p1+.sm.p1, .sm.p1+.sm.p2, .sm.p1+.sm.p3, .sm.p1+.sm.p4, .sm.p1+.sm.p5, .sm.p1+.sm.p6, .sm.p1+.sm.p7, .sm.p1+.sm.p8, .sm.p1+.sm.p9 {
    margin-left: -10px
}
.sm.p2+.sm.p0, .sm.p2+.sm.p1, .sm.p2+.sm.p2, .sm.p2+.sm.p3, .sm.p2+.sm.p4, .sm.p2+.sm.p5, .sm.p2+.sm.p6, .sm.p2+.sm.p7, .sm.p2+.sm.p8, .sm.p2+.sm.p9 {
    margin-left: -6px
}
.sm.p3+.sm.p0, .sm.p3+.sm.p1 {
    margin-left: -8px
}
.sm.p3+.sm.p2 {
    margin-left: -9px
}
.sm.p3+.sm.p3, .sm.p3+.sm.p4, .sm.p3+.sm.p5, .sm.p3+.sm.p6, .sm.p3+.sm.p7, .sm.p3+.sm.p8, .sm.p3+.sm.p9 {
    margin-left: -8px
}
.sm.p4+.sm.p0 {
    margin-left: -9px
}
.sm.p4+.sm.p1, .sm.p4+.sm.p2 {
    margin-left: -11px
}
.sm.p4+.sm.p3 {
    margin-left: -10px
}
.sm.p4+.sm.p4, .sm.p4+.sm.p5, .sm.p4+.sm.p6 {
    margin-left: -9px
}
.sm.p4+.sm.p7 {
    margin-left: -10px
}
.sm.p4+.sm.p8, .sm.p4+.sm.p9 {
    margin-left: -9px
}
.sm.p5+.sm.p0, .sm.p5+.sm.p1 {
    margin-left: -8px
}
.sm.p5+.sm.p2 {
    margin-left: -10px
}
.sm.p5+.sm.p3, .sm.p5+.sm.p4, .sm.p5+.sm.p5, .sm.p5+.sm.p6, .sm.p5+.sm.p7, .sm.p5+.sm.p8, .sm.p5+.sm.p9 {
    margin-left: -8px
}
.sm.p6+.sm.p0, .sm.p6+.sm.p1 {
    margin-left: -8px
}
.sm.p6+.sm.p2 {
    margin-left: -10px
}
.sm.p6+.sm.p3, .sm.p6+.sm.p4, .sm.p6+.sm.p5, .sm.p6+.sm.p6, .sm.p6+.sm.p7, .sm.p6+.sm.p8, .sm.p6+.sm.p9 {
    margin-left: -8px
}
.sm.p7+.sm.p0, .sm.p7+.sm.p1 {
    margin-left: -8px
}
.sm.p7+.sm.p2 {
    margin-left: -10px
}
.sm.p7+.sm.p3 {
    margin-left: -8px
}
.sm.p7+.sm.p4 {
    margin-left: -12px
}
.sm.p7+.sm.p5, .sm.p7+.sm.p6 {
    margin-left: -8px
}
.sm.p7+.sm.p7 {
    margin-left: -7px
}
.sm.p7+.sm.p8, .sm.p7+.sm.p9 {
    margin-left: -8px
}
.sm.p8+.sm.p0, .sm.p8+.sm.p1 {
    margin-left: -8px
}
.sm.p8+.sm.p2 {
    margin-left: -10px
}
.sm.p8+.sm.p3, .sm.p8+.sm.p4, .sm.p8+.sm.p5, .sm.p8+.sm.p6, .sm.p8+.sm.p7, .sm.p8+.sm.p8, .sm.p8+.sm.p9 {
    margin-left: -8px
}
.sm.p9+.sm.p0, .sm.p9+.sm.p1 {
    margin-left: -19px
}
.sm.p9+.sm.p2 {
    margin-left: -21px
}
.sm.p9+.sm.p3, .sm.p9+.sm.p4, .sm.p9+.sm.p5, .sm.p9+.sm.p6, .sm.p9+.sm.p7, .sm.p9+.sm.p8, .sm.p9+.sm.p9 {
    margin-left: -19px
}
.sm.p0+.sm.p-comma {
    margin-left: -14px
}
.sm.p1+.sm.p-comma {
    margin-left: -16px
}
.sm.p2+.sm.p-comma {
    margin-left: -13px
}
.sm.p3+.sm.p-comma {
    margin-left: -14px
}
.sm.p4+.sm.p-comma, .sm.p5+.sm.p-comma {
    margin-left: -16px
}
.sm.p6+.sm.p-comma {
    margin-left: -14px
}
.sm.p7+.sm.p-comma {
    margin-left: -16px
}
.sm.p8+.sm.p-comma {
    margin-left: -14px
}
.sm.p9+.sm.p-comma {
    margin-left: -25px
}
.sm.p0+.sm.p-nocomma, .sm.p1+.sm.p-nocomma {
    margin-left: -11px
}
.sm.p2+.sm.p-nocomma {
    margin-left: -7px
}
.sm.p3+.sm.p-nocomma, .sm.p4+.sm.p-nocomma, .sm.p5+.sm.p-nocomma, .sm.p6+.sm.p-nocomma, .sm.p7+.sm.p-nocomma, .sm.p8+.sm.p-nocomma {
    margin-left: -11px
}
.sm.p9+.sm.p-nocomma {
    margin-left: -21px
}
.sm.p-comma+.sm.p0.small {
    margin-left: -10px
}
.sm.p-comma+.sm.p1.small {
    margin-left: -8px
}
.sm.p-comma+.sm.p2.small {
    margin-left: -9px
}
.sm.p-comma+.sm.p3.small, .sm.p-comma+.sm.p4.small, .sm.p-comma+.sm.p5.small, .sm.p-comma+.sm.p6.small {
    margin-left: -10px
}
.sm.p-comma+.sm.p7.small {
    margin-left: -14px
}
.sm.p-comma+.sm.p8.small {
    margin-left: -12px
}
.sm.p-comma+.sm.p9.small {
    margin-left: -10px
}
.sm.small {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -896px -161px
}
.price.red .sm.small {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.sm.p0.small {
    margin-left: -10px;
    background-position: -896px -262px;
    width: 20px
}
.sm.p1.small {
    margin: 0 0 0 -25px;
    background-position: -954px -262px;
    width: 22px
}
.sm.p2.small {
    margin-left: -10px;
    background-position: -1001px -262px;
    width: 24px
}
.sm.p3.small {
    margin-left: -10px;
    background-position: -1065px -262px;
    width: 21px
}
.sm.p4.small {
    margin-left: -10px;
    background-position: -1124px -262px;
    width: 22px
}
.sm.p5.small {
    margin-left: -10px;
    background-position: -1185px -261px;
    width: 24px
}
.sm.p6.small {
    margin-left: -10px;
    background-position: -1246px -262px;
    width: 24px
}
.sm.p7.small {
    margin-left: -10px;
    background-position: -1300px -262px;
    width: 24px
}
.sm.p8.small {
    margin-left: -10px;
    background-position: -1364px -262px;
    width: 24px
}
.sm.p9.small {
    margin-left: -10px;
    background-position: -1420px -262px;
    width: 24px
}
.sm.p0.small+.sm.p0.small, .sm.p0.small+.sm.p1.small {
    margin-left: -7px
}
.sm.p0.small+.sm.p2.small {
    margin-left: -9px
}
.sm.p0.small+.sm.p3.small, .sm.p0.small+.sm.p4.small, .sm.p0.small+.sm.p5.small, .sm.p0.small+.sm.p6.small, .sm.p0.small+.sm.p8.small, .sm.p0.small+.sm.p9.small {
    margin-left: -7px
}
.sm.p0.small+.sm.p7.small {
    margin-left: -8px
}
.sm.p1.small+.sm.p0.small {
    margin-left: -14px
}
.sm.p1.small+.sm.p1.small {
    margin-left: -13px
}
.sm.p1.small+.sm.p2.small {
    margin-left: -16px
}
.sm.p1.small+.sm.p3.small, .sm.p1.small+.sm.p4.small, .sm.p1.small+.sm.p5.small, .sm.p1.small+.sm.p6.small {
    margin-left: -13px
}
.sm.p1.small+.sm.p7.small {
    margin-left: -15px
}
.sm.p1.small+.sm.p8.small, .sm.p1.small+.sm.p9.small {
    margin-left: -14px
}
.sm.p2.small+.sm.p0.small, .sm.p2.small+.sm.p1.small {
    margin-left: -9px
}
.sm.p2.small+.sm.p2.small {
    margin-left: -10px
}
.sm.p2.small+.sm.p3.small {
    margin-left: -9px
}
.sm.p2.small+.sm.p4.small, .sm.p2.small+.sm.p5.small, .sm.p2.small+.sm.p6.small {
    margin-left: -8px
}
.sm.p2.small+.sm.p7.small {
    margin-left: -10px
}
.sm.p2.small+.sm.p8.small, .sm.p2.small+.sm.p9.small {
    margin-left: -9px
}
.sm.p3.small+.sm.p0.small, .sm.p3.small+.sm.p1.small {
    margin-left: -8px
}
.sm.p3.small+.sm.p2.small {
    margin-left: -9px
}
.sm.p3.small+.sm.p3.small, .sm.p3.small+.sm.p4.small, .sm.p3.small+.sm.p5.small, .sm.p3.small+.sm.p6.small {
    margin-left: -8px
}
.sm.p3.small+.sm.p7.small {
    margin-left: -9px
}
.sm.p3.small+.sm.p8.small, .sm.p3.small+.sm.p9.small {
    margin-left: -8px
}
.sm.p4.small+.sm.p0.small {
    margin-left: -8px
}
.sm.p4.small+.sm.p1.small {
    margin-left: -9px
}
.sm.p4.small+.sm.p2.small {
    margin-left: -10px
}
.sm.p4.small+.sm.p3.small, .sm.p4.small+.sm.p4.small {
    margin-left: -8px
}
.sm.p4.small+.sm.p5.small, .sm.p4.small+.sm.p6.small {
    margin-left: -9px
}
.sm.p4.small+.sm.p7.small {
    margin-left: -11px
}
.sm.p4.small+.sm.p8.small, .sm.p4.small+.sm.p9.small {
    margin-left: -9px
}
.sm.p5.small+.sm.p0.small, .sm.p5.small+.sm.p1.small {
    margin-left: -11px
}
.sm.p5.small+.sm.p2.small {
    margin-left: -12px
}
.sm.p5.small+.sm.p3.small, .sm.p5.small+.sm.p4.small, .sm.p5.small+.sm.p5.small, .sm.p5.small+.sm.p6.small {
    margin-left: -10px
}
.sm.p5.small+.sm.p7.small {
    margin-left: -13px
}
.sm.p5.small+.sm.p8.small {
    margin-left: -11px
}
.sm.p5.small+.sm.p9.small {
    margin-left: -12px
}
.sm.p6.small+.sm.p0.small, .sm.p6.small+.sm.p1.small {
    margin-left: -11px
}
.sm.p6.small+.sm.p2.small {
    margin-left: -12px
}
.sm.p6.small+.sm.p3.small {
    margin-left: -11px
}
.sm.p6.small+.sm.p4.small {
    margin-left: -10px
}
.sm.p6.small+.sm.p5.small, .sm.p6.small+.sm.p6.small {
    margin-left: -11px
}
.sm.p6.small+.sm.p7.small {
    margin-left: -13px
}
.sm.p6.small+.sm.p8.small, .sm.p6.small+.sm.p9.small {
    margin-left: -12px
}
.sm.p7.small+.sm.p1.small {
    margin-left: -9px
}
.sm.p7.small+.sm.p2.small {
    margin-left: -11px
}
.sm.p7.small+.sm.p3.small {
    margin-left: -9px
}
.sm.p7.small+.sm.p4.small {
    margin-left: -12px
}
.sm.p7.small+.sm.p5.small, .sm.p7.small+.sm.p6.small {
    margin-left: -9px
}
.sm.p7.small+.sm.p7.small, .sm.p7.small+.sm.p8.small {
    margin-left: -10px
}
.sm.p7.small+.sm.p9.small {
    margin-left: -11px
}
.sm.p7.small+.sm.p0.small {
    margin-left: -10px
}
.sm.p8.small+.sm.p1.small {
    margin-left: -11px
}
.sm.p8.small+.sm.p2.small {
    margin-left: -12px
}
.sm.p8.small+.sm.p3.small {
    margin-left: -11px
}
.sm.p8.small+.sm.p4.small {
    margin-left: -10px
}
.sm.p8.small+.sm.p5.small {
    margin-left: -11px
}
.sm.p8.small+.sm.p6.small {
    margin-left: -10px
}
.sm.p8.small+.sm.p7.small {
    margin-left: -12px
}
.sm.p8.small+.sm.p8.small, .sm.p8.small+.sm.p9.small, .sm.p8.small+.sm.p0.small {
    margin-left: -11px
}
.sm.p9.small+.sm.p1.small {
    margin-left: -9px
}
.sm.p9.small+.sm.p2.small {
    margin-left: -12px
}
.sm.p9.small+.sm.p3.small, .sm.p9.small+.sm.p4.small, .sm.p9.small+.sm.p5.small, .sm.p9.small+.sm.p6.small {
    margin-left: -9px
}
.sm.p9.small+.sm.p7.small {
    margin-left: -12px
}
.sm.p9.small+.sm.p8.small, .sm.p9.small+.sm.p9.small, .sm.p9.small+.sm.p0.small {
    margin-left: -10px
}
.xs.p1 {
    background-position: -77px -296px;
    width: 20px
}
.xs.p2 {
    background-position: -140px -296px;
    width: 26px
}
.xs.p3 {
    background-position: -225px -296px;
    width: 25px
}
.xs.p4 {
    background-position: -303px -296px;
    width: 25px
}
.xs.p5 {
    background-position: -385px -296px;
    width: 25px
}
.xs.p6 {
    background-position: -465px -296px;
    width: 25px
}
.xs.p7 {
    background-position: -540px -296px;
    width: 25px
}
.xs.p8 {
    background-position: -623px -296px;
    width: 25px
}
.xs.p9 {
    background-position: -699px -296px;
    width: 24px
}
.xs.p0 {
    background-position: 0px -296px;
    width: 24px
}
.xs.p-nocomma {
    width: 28px;
    background-position: -774px -296px
}
.xs.p-comma {
    width: 25px;
    background-position: -851px -296px
}
.xs.p0+.xs.p0 {
    margin-left: -9px
}
.xs.p0+.xs.p1 {
    margin-left: -8px
}
.xs.p0+.xs.p2 {
    margin-left: -10px
}
.xs.p0+.xs.p3 {
    margin-left: -9px
}
.xs.p0+.xs.p4, .xs.p0+.xs.p5 {
    margin-left: -8px
}
.xs.p0+.xs.p6 {
    margin-left: -9px
}
.xs.p0+.xs.p7 {
    margin-left: -8px
}
.xs.p0+.xs.p8, .xs.p0+.xs.p9 {
    margin-left: -9px
}
.xs.p1+.xs.p0, .xs.p1+.xs.p1 {
    margin-left: -10px
}
.xs.p1+.xs.p2 {
    margin-left: -11px
}
.xs.p1+.xs.p3, .xs.p1+.xs.p4, .xs.p1+.xs.p5, .xs.p1+.xs.p6, .xs.p1+.xs.p7, .xs.p1+.xs.p8, .xs.p1+.xs.p9 {
    margin-left: -10px
}
.xs.p2+.xs.p0 {
    margin-left: -8px
}
.xs.p2+.xs.p1 {
    margin-left: -7px
}
.xs.p2+.xs.p2 {
    margin-left: -9px
}
.xs.p2+.xs.p3, .xs.p2+.xs.p4, .xs.p2+.xs.p5, .xs.p2+.xs.p6, .xs.p2+.xs.p7, .xs.p2+.xs.p8, .xs.p2+.xs.p9 {
    margin-left: -8px
}
.xs.p3+.xs.p0, .xs.p3+.xs.p1 {
    margin-left: -8px
}
.xs.p3+.xs.p2 {
    margin-left: -9px
}
.xs.p3+.xs.p3, .xs.p3+.xs.p4, .xs.p3+.xs.p5, .xs.p3+.xs.p6, .xs.p3+.xs.p7, .xs.p3+.xs.p8, .xs.p3+.xs.p9 {
    margin-left: -8px
}
.xs.p4+.xs.p0 {
    margin-left: -9px
}
.xs.p4+.xs.p1, .xs.p4+.xs.p2 {
    margin-left: -11px
}
.xs.p4+.xs.p3 {
    margin-left: -10px
}
.xs.p4+.xs.p4, .xs.p4+.xs.p5, .xs.p4+.xs.p6 {
    margin-left: -9px
}
.xs.p4+.xs.p7 {
    margin-left: -10px
}
.xs.p4+.xs.p8, .xs.p4+.xs.p9 {
    margin-left: -9px
}
.xs.p5+.xs.p0, .xs.p5+.xs.p1 {
    margin-left: -9px
}
.xs.p5+.xs.p2 {
    margin-left: -11px
}
.xs.p5+.xs.p3, .xs.p5+.xs.p4, .xs.p5+.xs.p5, .xs.p5+.xs.p6, .xs.p5+.xs.p7, .xs.p5+.xs.p8, .xs.p5+.xs.p9 {
    margin-left: -9px
}
.xs.p6+.xs.p0, .xs.p6+.xs.p1 {
    margin-left: -8px
}
.xs.p6+.xs.p2 {
    margin-left: -10px
}
.xs.p6+.xs.p3, .xs.p6+.xs.p4, .xs.p6+.xs.p5, .xs.p6+.xs.p6, .xs.p6+.xs.p7, .xs.p6+.xs.p8, .xs.p6+.xs.p9 {
    margin-left: -8px
}
.xs.p7+.xs.p0, .xs.p7+.xs.p1 {
    margin-left: -8px
}
.xs.p7+.xs.p2 {
    margin-left: -10px
}
.xs.p7+.xs.p3 {
    margin-left: -8px
}
.xs.p7+.xs.p4 {
    margin-left: -12px
}
.xs.p7+.xs.p5, .xs.p7+.xs.p6 {
    margin-left: -8px
}
.xs.p7+.xs.p7 {
    margin-left: -7px
}
.xs.p7+.xs.p8, .xs.p7+.xs.p9 {
    margin-left: -8px
}
.xs.p8+.xs.p0, .xs.p8+.xs.p1 {
    margin-left: -8px
}
.xs.p8+.xs.p2 {
    margin-left: -10px
}
.xs.p8+.xs.p3, .xs.p8+.xs.p4, .xs.p8+.xs.p5, .xs.p8+.xs.p6, .xs.p8+.xs.p7, .xs.p8+.xs.p8, .xs.p8+.xs.p9 {
    margin-left: -8px
}
.xs.p9+.xs.p0, .xs.p9+.xs.p1 {
    margin-left: -7px
}
.xs.p9+.xs.p2 {
    margin-left: -9px
}
.xs.p9+.xs.p3, .xs.p9+.xs.p4, .xs.p9+.xs.p5, .xs.p9+.xs.p6, .xs.p9+.xs.p7, .xs.p9+.xs.p8, .xs.p9+.xs.p9 {
    margin-left: -7px
}
.xs.p0+.xs.p-comma {
    margin-left: -13px
}
.xs.p1+.xs.p-comma {
    margin-left: -15px
}
.xs.p2+.xs.p-comma {
    margin-left: -13px
}
.xs.p3+.xs.p-comma, .xs.p4+.xs.p-comma, .xs.p5+.xs.p-comma, .xs.p6+.xs.p-comma, .xs.p7+.xs.p-comma, .xs.p8+.xs.p-comma, .xs.p9+.xs.p-comma {
    margin-left: -14px
}
.xs.p0+.xs.p-nocomma {
    margin-left: -8px
}
.xs.p1+.xs.p-nocomma, .xs.p2+.xs.p-nocomma, .xs.p3+.xs.p-nocomma, .xs.p4+.xs.p-nocomma {
    margin-left: -10px
}
.xs.p5+.xs.p-nocomma {
    margin-left: -11px
}
.xs.p6+.xs.p-nocomma {
    margin-left: -10px
}
.xs.p7+.xs.p-nocomma {
    margin-left: -13px
}
.xs.p8+.xs.p-nocomma, .xs.p9+.xs.p-nocomma {
    margin-left: -10px
}
.xs.p-comma+.xs.p0.small {
    margin-left: -10px
}
.xs.p-comma+.xs.p1.small {
    margin-left: -9px
}
.xs.p-comma+.xs.p2.small {
    margin-left: -10px
}
.xs.p-comma+.xs.p3.small, .xs.p-comma+.xs.p4.small, .xs.p-comma+.xs.p5.small {
    margin-left: -11px
}
.xs.p-comma+.xs.p6.small {
    margin-left: -10px
}
.xs.p-comma+.xs.p7.small {
    margin-left: -15px
}
.xs.p-comma+.xs.p8.small {
    margin-left: -11px
}
.xs.p-comma+.xs.p9.small {
    margin-left: -13px
}
.xs.small {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -896px -161px
}
.price.red .xs.small {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.xs.p0.small {
    margin-left: -10px;
    background-position: -896px -296px;
    width: 20px
}
.xs.p1.small {
    margin: 0 0 0 -25px;
    background-position: -954px -296px;
    width: 17px
}
.xs.p2.small {
    margin-left: -10px;
    background-position: -1001px -296px;
    width: 21px
}
.xs.p3.small {
    margin-left: -10px;
    background-position: -1065px -296px;
    width: 21px
}
.xs.p4.small {
    margin-left: -10px;
    background-position: -1124px -296px;
    width: 22px
}
.xs.p5.small {
    margin-left: -10px;
    background-position: -1185px -296px;
    width: 20px
}
.xs.p6.small {
    margin-left: -10px;
    background-position: -1246px -296px;
    width: 20px
}
.xs.p7.small {
    margin-left: -10px;
    background-position: -1300px -296px;
    width: 21px
}
.xs.p8.small {
    margin-left: -10px;
    background-position: -1364px -296px;
    width: 21px
}
.xs.p9.small {
    margin-left: -10px;
    background-position: -1420px -296px;
    width: 21px
}
.xs.p0.small+.xs.p0.small, .xs.p0.small+.xs.p1.small {
    margin-left: -7px
}
.xs.p0.small+.xs.p2.small {
    margin-left: -9px
}
.xs.p0.small+.xs.p3.small, .xs.p0.small+.xs.p4.small, .xs.p0.small+.xs.p5.small, .xs.p0.small+.xs.p6.small, .xs.p0.small+.xs.p8.small, .xs.p0.small+.xs.p9.small {
    margin-left: -7px
}
.xs.p0.small+.xs.p7.small {
    margin-left: -9px
}
.xs.p1.small+.xs.p0.small, .xs.p1.small+.xs.p1.small {
    margin-left: -9px
}
.xs.p1.small+.xs.p2.small {
    margin-left: -11px
}
.xs.p1.small+.xs.p3.small {
    margin-left: -9px
}
.xs.p1.small+.xs.p4.small, .xs.p1.small+.xs.p5.small {
    margin-left: -10px
}
.xs.p1.small+.xs.p6.small {
    margin-left: -9px
}
.xs.p1.small+.xs.p7.small {
    margin-left: -10px
}
.xs.p1.small+.xs.p8.small {
    margin-left: -9px
}
.xs.p1.small+.xs.p9.small {
    margin-left: -10px
}
.xs.p2.small+.xs.p0.small {
    margin-left: -8px
}
.xs.p2.small+.xs.p1.small {
    margin-left: -7px
}
.xs.p2.small+.xs.p2.small {
    margin-left: -9px
}
.xs.p2.small+.xs.p3.small {
    margin-left: -8px
}
.xs.p2.small+.xs.p4.small, .xs.p2.small+.xs.p5.small, .xs.p2.small+.xs.p6.small {
    margin-left: -7px
}
.xs.p2.small+.xs.p7.small, .xs.p2.small+.xs.p8.small, .xs.p2.small+.xs.p9.small {
    margin-left: -8px
}
.xs.p3.small+.xs.p0.small, .xs.p3.small+.xs.p1.small {
    margin-left: -8px
}
.xs.p3.small+.xs.p2.small {
    margin-left: -9px
}
.xs.p3.small+.xs.p3.small, .xs.p3.small+.xs.p4.small, .xs.p3.small+.xs.p5.small, .xs.p3.small+.xs.p6.small {
    margin-left: -8px
}
.xs.p3.small+.xs.p7.small, .xs.p3.small+.xs.p8.small, .xs.p3.small+.xs.p9.small {
    margin-left: -9px
}
.xs.p4.small+.xs.p0.small, .xs.p4.small+.xs.p1.small {
    margin-left: -10px
}
.xs.p4.small+.xs.p2.small {
    margin-left: -11px
}
.xs.p4.small+.xs.p3.small, .xs.p4.small+.xs.p4.small, .xs.p4.small+.xs.p5.small, .xs.p4.small+.xs.p6.small {
    margin-left: -9px
}
.xs.p4.small+.xs.p7.small {
    margin-left: -12px
}
.xs.p4.small+.xs.p8.small, .xs.p4.small+.xs.p9.small {
    margin-left: -10px
}
.xs.p5.small+.xs.p0.small, .xs.p5.small+.xs.p1.small {
    margin-left: -8px
}
.xs.p5.small+.xs.p2.small {
    margin-left: -10px
}
.xs.p5.small+.xs.p3.small, .xs.p5.small+.xs.p4.small, .xs.p5.small+.xs.p5.small, .xs.p5.small+.xs.p6.small {
    margin-left: -8px
}
.xs.p5.small+.xs.p7.small {
    margin-left: -10px
}
.xs.p5.small+.xs.p8.small, .xs.p5.small+.xs.p9.small {
    margin-left: -9px
}
.xs.p6.small+.xs.p0.small {
    margin-left: -9px
}
.xs.p6.small+.xs.p1.small {
    margin-left: -8px
}
.xs.p6.small+.xs.p2.small {
    margin-left: -10px
}
.xs.p6.small+.xs.p3.small {
    margin-left: -9px
}
.xs.p6.small+.xs.p4.small {
    margin-left: -8px
}
.xs.p6.small+.xs.p5.small {
    margin-left: -9px
}
.xs.p6.small+.xs.p6.small {
    margin-left: -8px
}
.xs.p6.small+.xs.p7.small, .xs.p6.small+.xs.p8.small, .xs.p6.small+.xs.p9.small {
    margin-left: -10px
}
.xs.p7.small+.xs.p1.small {
    margin-left: -7px
}
.xs.p7.small+.xs.p2.small {
    margin-left: -9px
}
.xs.p7.small+.xs.p3.small {
    margin-left: -7px
}
.xs.p7.small+.xs.p4.small {
    margin-left: -8px
}
.xs.p7.small+.xs.p5.small, .xs.p7.small+.xs.p6.small {
    margin-left: -7px
}
.xs.p7.small+.xs.p7.small {
    margin-left: -8px
}
.xs.p7.small+.xs.p8.small {
    margin-left: -7px
}
.xs.p7.small+.xs.p9.small {
    margin-left: -8px
}
.xs.p7.small+.xs.p0.small {
    margin-left: -7px
}
.xs.p8.small+.xs.p1.small {
    margin-left: -8px
}
.xs.p8.small+.xs.p2.small {
    margin-left: -10px
}
.xs.p8.small+.xs.p3.small {
    margin-left: -9px
}
.xs.p8.small+.xs.p4.small {
    margin-left: -8px
}
.xs.p8.small+.xs.p5.small, .xs.p8.small+.xs.p6.small {
    margin-left: -9px
}
.xs.p8.small+.xs.p7.small {
    margin-left: -11px
}
.xs.p8.small+.xs.p8.small, .xs.p8.small+.xs.p9.small, .xs.p8.small+.xs.p0.small {
    margin-left: -9px
}
.xs.p9.small+.xs.p1.small {
    margin-left: -8px
}
.xs.p9.small+.xs.p2.small {
    margin-left: -10px
}
.xs.p9.small+.xs.p3.small, .xs.p9.small+.xs.p4.small, .xs.p9.small+.xs.p5.small, .xs.p9.small+.xs.p6.small {
    margin-left: -8px
}
.xs.p9.small+.xs.p7.small {
    margin-left: -10px
}
.xs.p9.small+.xs.p8.small, .xs.p9.small+.xs.p9.small, .xs.p9.small+.xs.p0.small {
    margin-left: -9px
}
.xxs.p1 {
    background-position: -77px -327px;
    width: 17px
}
.xxs.p2 {
    background-position: -140px -327px;
    width: 23px
}
.xxs.p3 {
    background-position: -225px -327px;
    width: 22px
}
.xxs.p4 {
    background-position: -303px -327px;
    width: 22px
}
.xxs.p5 {
    background-position: -385px -327px;
    width: 22px
}
.xxs.p6 {
    background-position: -465px -327px;
    width: 22px
}
.xxs.p7 {
    background-position: -540px -327px;
    width: 22px
}
.xxs.p8 {
    background-position: -623px -327px;
    width: 22px
}
.xxs.p9 {
    background-position: -699px -327px;
    width: 24px
}
.xxs.p0 {
    background-position: 0px -327px;
    width: 21px
}
.xxs.p-nocomma {
    width: 28px;
    background-position: -774px -327px
}
.xxs.p-comma {
    width: 25px;
    background-position: -851px -327px
}
.xxs.p0+.xxs.p0 {
    margin-left: -9px
}
.xxs.p0+.xxs.p1 {
    margin-left: -8px
}
.xxs.p0+.xxs.p2 {
    margin-left: -10px
}
.xxs.p0+.xxs.p3 {
    margin-left: -9px
}
.xxs.p0+.xxs.p4, .xxs.p0+.xxs.p5 {
    margin-left: -8px
}
.xxs.p0+.xxs.p6 {
    margin-left: -9px
}
.xxs.p0+.xxs.p7 {
    margin-left: -8px
}
.xxs.p0+.xxs.p8, .xxs.p0+.xxs.p9 {
    margin-left: -9px
}
.xxs.p1+.xxs.p0 {
    margin-left: -9px
}
.xxs.p1+.xxs.p1 {
    margin-left: -8px
}
.xxs.p1+.xxs.p2, .xxs.p1+.xxs.p3 {
    margin-left: -9px
}
.xxs.p1+.xxs.p4, .xxs.p1+.xxs.p5, .xxs.p1+.xxs.p6, .xxs.p1+.xxs.p7 {
    margin-left: -8px
}
.xxs.p1+.xxs.p8, .xxs.p1+.xxs.p9 {
    margin-left: -9px
}
.xxs.p2+.xxs.p0 {
    margin-left: -8px
}
.xxs.p2+.xxs.p1 {
    margin-left: -7px
}
.xxs.p2+.xxs.p2 {
    margin-left: -9px
}
.xxs.p2+.xxs.p3, .xxs.p2+.xxs.p4, .xxs.p2+.xxs.p5, .xxs.p2+.xxs.p6, .xxs.p2+.xxs.p7, .xxs.p2+.xxs.p8, .xxs.p2+.xxs.p9 {
    margin-left: -8px
}
.xxs.p3+.xxs.p0, .xxs.p3+.xxs.p1 {
    margin-left: -8px
}
.xxs.p3+.xxs.p2 {
    margin-left: -10px
}
.xxs.p3+.xxs.p3, .xxs.p3+.xxs.p4, .xxs.p3+.xxs.p5, .xxs.p3+.xxs.p6, .xxs.p3+.xxs.p7, .xxs.p3+.xxs.p8, .xxs.p3+.xxs.p9 {
    margin-left: -8px
}
.xxs.p4+.xxs.p0, .xxs.p4+.xxs.p1 {
    margin-left: -9px
}
.xxs.p4+.xxs.p2 {
    margin-left: -10px
}
.xxs.p4+.xxs.p3 {
    margin-left: -9px
}
.xxs.p4+.xxs.p4, .xxs.p4+.xxs.p5, .xxs.p4+.xxs.p6 {
    margin-left: -8px
}
.xxs.p4+.xxs.p7 {
    margin-left: -9px
}
.xxs.p4+.xxs.p8, .xxs.p4+.xxs.p9 {
    margin-left: -8px
}
.xxs.p5+.xxs.p0, .xxs.p5+.xxs.p1 {
    margin-left: -9px
}
.xxs.p5+.xxs.p2, .xxs.p5+.xxs.p3 {
    margin-left: -10px
}
.xxs.p5+.xxs.p4 {
    margin-left: -8px
}
.xxs.p5+.xxs.p5, .xxs.p5+.xxs.p6 {
    margin-left: -9px
}
.xxs.p5+.xxs.p7 {
    margin-left: -8px
}
.xxs.p5+.xxs.p8, .xxs.p5+.xxs.p9 {
    margin-left: -10px
}
.xxs.p6+.xxs.p0 {
    margin-left: -8px
}
.xxs.p6+.xxs.p1, .xxs.p6+.xxs.p2, .xxs.p6+.xxs.p3 {
    margin-left: -9px
}
.xxs.p6+.xxs.p4, .xxs.p6+.xxs.p5 {
    margin-left: -8px
}
.xxs.p6+.xxs.p6, .xxs.p6+.xxs.p7, .xxs.p6+.xxs.p8, .xxs.p6+.xxs.p9 {
    margin-left: -9px
}
.xxs.p7+.xxs.p0, .xxs.p7+.xxs.p1 {
    margin-left: -8px
}
.xxs.p7+.xxs.p2 {
    margin-left: -10px
}
.xxs.p7+.xxs.p3 {
    margin-left: -9px
}
.xxs.p7+.xxs.p4 {
    margin-left: -12px
}
.xxs.p7+.xxs.p5 {
    margin-left: -8px
}
.xxs.p7+.xxs.p6 {
    margin-left: -9px
}
.xxs.p7+.xxs.p7 {
    margin-left: -7px
}
.xxs.p7+.xxs.p8, .xxs.p7+.xxs.p9 {
    margin-left: -9px
}
.xxs.p8+.xxs.p0, .xxs.p8+.xxs.p1 {
    margin-left: -8px
}
.xxs.p8+.xxs.p2 {
    margin-left: -10px
}
.xxs.p8+.xxs.p3, .xxs.p8+.xxs.p4 {
    margin-left: -8px
}
.xxs.p8+.xxs.p5, .xxs.p8+.xxs.p6, .xxs.p8+.xxs.p7, .xxs.p8+.xxs.p8, .xxs.p8+.xxs.p9 {
    margin-left: -9px
}
.xxs.p9+.xxs.p0, .xxs.p9+.xxs.p1 {
    margin-left: -11px
}
.xxs.p9+.xxs.p2 {
    margin-left: -12px
}
.xxs.p9+.xxs.p3 {
    margin-left: -11px
}
.xxs.p9+.xxs.p4 {
    margin-left: -10px
}
.xxs.p9+.xxs.p5, .xxs.p9+.xxs.p6, .xxs.p9+.xxs.p7, .xxs.p9+.xxs.p8, .xxs.p9+.xxs.p9 {
    margin-left: -11px
}
.xxs.p0+.xxs.p-comma, .xxs.p1+.xxs.p-comma, .xxs.p2+.xxs.p-comma, .xxs.p3+.xxs.p-comma, .xxs.p4+.xxs.p-comma {
    margin-left: -14px
}
.xxs.p5+.xxs.p-comma {
    margin-left: -15px
}
.xxs.p6+.xxs.p-comma {
    margin-left: -14px
}
.xxs.p7+.xxs.p-comma {
    margin-left: -16px
}
.xxs.p8+.xxs.p-comma {
    margin-left: -14px
}
.xxs.p9+.xxs.p-comma {
    margin-left: -16px
}
.xxs.p0+.xxs.p-nocomma, .xxs.p1+.xxs.p-nocomma {
    margin-left: -9px
}
.xxs.p2+.xxs.p-nocomma, .xxs.p3+.xxs.p-nocomma, .xxs.p4+.xxs.p-nocomma {
    margin-left: -10px
}
.xxs.p5+.xxs.p-nocomma {
    margin-left: -11px
}
.xxs.p6+.xxs.p-nocomma {
    margin-left: -10px
}
.xxs.p7+.xxs.p-nocomma {
    margin-left: -13px
}
.xxs.p8+.xxs.p-nocomma {
    margin-left: -10px
}
.xxs.p9+.xxs.p-nocomma {
    margin-left: -12px
}
.xxs.p-comma+.xxs.p0.small {
    margin-left: -14px
}
.xxs.p-comma+.xxs.p1.small {
    margin-left: -13px
}
.xxs.p-comma+.xxs.p2.small {
    margin-left: -14px
}
.xxs.p-comma+.xxs.p3.small {
    margin-left: -12px
}
.xxs.p-comma+.xxs.p4.small, .xxs.p-comma+.xxs.p5.small, .xxs.p-comma+.xxs.p6.small {
    margin-left: -13px
}
.xxs.p-comma+.xxs.p7.small {
    margin-left: -14px
}
.xxs.p-comma+.xxs.p8.small {
    margin-left: -12px
}
.xxs.p-comma+.xxs.p9.small {
    margin-left: -13px
}
.xxs.small {
    background: transparent url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite.png) no-repeat -896px -161px
}
.price.red .xxs.small {
    background-image: url(//d1cquh7j3szdp1.cloudfront.net/sites/all/themes/mediamarkt/img/commons/sprite-red.png)
}
.xxs.p0.small {
    margin-left: -10px;
    background-position: -896px -327px;
    width: 17px
}
.xxs.p1.small {
    margin: 0 0 0 -25px;
    background-position: -954px -327px;
    width: 17px
}
.xxs.p2.small {
    margin-left: -10px;
    background-position: -1001px -327px;
    width: 19px
}
.xxs.p3.small {
    margin-left: -10px;
    background-position: -1065px -327px;
    width: 17px
}
.xxs.p4.small {
    margin-left: -10px;
    background-position: -1124px -327px;
    width: 17px
}
.xxs.p5.small {
    margin-left: -10px;
    background-position: -1185px -327px;
    width: 17px
}
.xxs.p6.small {
    margin-left: -10px;
    background-position: -1244px -327px;
    width: 17px
}
.xxs.p7.small {
    margin-left: -10px;
    background-position: -1300px -327px;
    width: 21px
}
.xxs.p8.small {
    margin-left: -10px;
    background-position: -1364px -327px;
    width: 17px
}
.xxs.p9.small {
    margin-left: -10px;
    background-position: -1420px -327px;
    width: 17px
}
.xxs.p0.small+.xxs.p0.small, .xxs.p0.small+.xxs.p1.small {
    margin-left: -7px
}
.xxs.p0.small+.xxs.p2.small {
    margin-left: -8px
}
.xxs.p0.small+.xxs.p4.small {
    margin-left: -6px
}
.xxs.p0.small+.xxs.p6.small, .xxs.p0.small+.xxs.p9.small {
    margin-left: -8px
}
.xxs.p0.small+.xxs.p3.small, .xxs.p0.small+.xxs.p5.small, .xxs.p0.small+.xxs.p8.small {
    margin-left: -7px
}
.xxs.p0.small+.xxs.p7.small {
    margin-left: -9px
}
.xxs.p1.small+.xxs.p0.small {
    margin-left: -10px
}
.xxs.p1.small+.xxs.p1.small {
    margin-left: -11px
}
.xxs.p1.small+.xxs.p2.small {
    margin-left: -12px
}
.xxs.p1.small+.xxs.p3.small {
    margin-left: -11px
}
.xxs.p1.small+.xxs.p4.small {
    margin-left: -10px
}
.xxs.p1.small+.xxs.p5.small {
    margin-left: -11px
}
.xxs.p1.small+.xxs.p6.small, .xxs.p1.small+.xxs.p7.small {
    margin-left: -12px
}
.xxs.p1.small+.xxs.p8.small, .xxs.p1.small+.xxs.p9.small {
    margin-left: -11px
}
.xxs.p2.small+.xxs.p0.small {
    margin-left: -8px
}
.xxs.p2.small+.xxs.p1.small {
    margin-left: -7px
}
.xxs.p2.small+.xxs.p2.small, .xxs.p2.small+.xxs.p3.small, .xxs.p2.small+.xxs.p4.small, .xxs.p2.small+.xxs.p5.small, .xxs.p2.small+.xxs.p6.small {
    margin-left: -8px
}
.xxs.p2.small+.xxs.p7.small {
    margin-left: -9px
}
.xxs.p2.small+.xxs.p8.small {
    margin-left: -8px
}
.xxs.p2.small+.xxs.p9.small {
    margin-left: -9px
}
.xxs.p3.small+.xxs.p0.small {
    margin-left: -6px
}
.xxs.p3.small+.xxs.p1.small {
    margin-left: -7px
}
.xxs.p3.small+.xxs.p2.small {
    margin-left: -8px
}
.xxs.p3.small+.xxs.p3.small {
    margin-left: -7px
}
.xxs.p3.small+.xxs.p4.small {
    margin-left: -6px
}
.xxs.p3.small+.xxs.p5.small {
    margin-left: -7px
}
.xxs.p3.small+.xxs.p6.small {
    margin-left: -8px
}
.xxs.p3.small+.xxs.p7.small {
    margin-left: -10px
}
.xxs.p3.small+.xxs.p8.small, .xxs.p3.small+.xxs.p9.small {
    margin-left: -8px
}
.xxs.p4.small+.xxs.p0.small {
    margin-left: -8px
}
.xxs.p4.small+.xxs.p1.small {
    margin-left: -7px
}
.xxs.p4.small+.xxs.p2.small, .xxs.p4.small+.xxs.p3.small {
    margin-left: -8px
}
.xxs.p4.small+.xxs.p4.small {
    margin-left: -7px
}
.xxs.p4.small+.xxs.p5.small, .xxs.p4.small+.xxs.p6.small {
    margin-left: -8px
}
.xxs.p4.small+.xxs.p7.small {
    margin-left: -9px
}
.xxs.p4.small+.xxs.p8.small {
    margin-left: -8px
}
.xxs.p4.small+.xxs.p9.small {
    margin-left: -9px
}
.xxs.p5.small+.xxs.p0.small {
    margin-left: -7px
}
.xxs.p5.small+.xxs.p1.small, .xxs.p5.small+.xxs.p2.small {
    margin-left: -8px
}
.xxs.p5.small+.xxs.p4.small {
    margin-left: -7px
}
.xxs.p5.small+.xxs.p3.small, .xxs.p5.small+.xxs.p5.small, .xxs.p5.small+.xxs.p6.small {
    margin-left: -8px
}
.xxs.p5.small+.xxs.p7.small {
    margin-left: -10px
}
.xxs.p5.small+.xxs.p8.small, .xxs.p5.small+.xxs.p9.small {
    margin-left: -8px
}
.xxs.p6.small+.xxs.p0.small, .xxs.p6.small+.xxs.p1.small {
    margin-left: -6px
}
.xxs.p6.small+.xxs.p2.small {
    margin-left: -8px
}
.xxs.p6.small+.xxs.p3.small {
    margin-left: -6px
}
.xxs.p6.small+.xxs.p4.small {
    margin-left: -5px
}
.xxs.p6.small+.xxs.p5.small {
    margin-left: -6px
}
.xxs.p6.small+.xxs.p6.small {
    margin-left: -7px
}
.xxs.p6.small+.xxs.p7.small {
    margin-left: -8px
}
.xxs.p6.small+.xxs.p8.small, .xxs.p6.small+.xxs.p9.small {
    margin-left: -6px
}
.xxs.p7.small+.xxs.p1.small {
    margin-left: -9px
}
.xxs.p7.small+.xxs.p2.small {
    margin-left: -10px
}
.xxs.p7.small+.xxs.p3.small {
    margin-left: -9px
}
.xxs.p7.small+.xxs.p4.small {
    margin-left: -10px
}
.xxs.p7.small+.xxs.p5.small {
    margin-left: -9px
}
.xxs.p7.small+.xxs.p6.small {
    margin-left: -10px
}
.xxs.p7.small+.xxs.p7.small {
    margin-left: -11px
}
.xxs.p7.small+.xxs.p8.small {
    margin-left: -9px
}
.xxs.p7.small+.xxs.p9.small {
    margin-left: -10px
}
.xxs.p7.small+.xxs.p0.small {
    margin-left: -9px
}
.xxs.p8.small+.xxs.p1.small {
    margin-left: -6px
}
.xxs.p8.small+.xxs.p2.small, .xxs.p8.small+.xxs.p3.small {
    margin-left: -7px
}
.xxs.p8.small+.xxs.p4.small {
    margin-left: -6px
}
.xxs.p8.small+.xxs.p5.small {
    margin-left: -7px
}
.xxs.p8.small+.xxs.p6.small {
    margin-left: -8px
}
.xxs.p8.small+.xxs.p7.small {
    margin-left: -9px
}
.xxs.p8.small+.xxs.p8.small, .xxs.p8.small+.xxs.p9.small, .xxs.p8.small+.xxs.p0.small {
    margin-left: -7px
}
.xxs.p9.small+.xxs.p1.small {
    margin-left: -6px
}
.xxs.p9.small+.xxs.p2.small {
    margin-left: -8px
}
.xxs.p9.small+.xxs.p3.small, .xxs.p9.small+.xxs.p4.small, .xxs.p9.small+.xxs.p5.small {
    margin-left: -6px
}
.xxs.p9.small+.xxs.p6.small {
    margin-left: -7px
}
.xxs.p9.small+.xxs.p7.small {
    margin-left: -8px
}
.xxs.p9.small+.xxs.p8.small, .xxs.p9.small+.xxs.p9.small, .xxs.p9.small+.xxs.p0.small {
    margin-left: -7px
}
.price-from-white:after {
    position: absolute;
    top: -30px;
    left: 0px;
    content: 'Desde';
    z-index: 20;
    font-size: 20px;
    font-family: 'bold';
    color: white
}
.price-to-white:after {
    position: absolute;
    top: -30px;
    left: 0px;
    content: 'Cada uno';
    z-index: 20;
    font-size: 20px;
    font-family: 'bold';
    color: white
}
.price-from-black:after {
    position: absolute;
    top: -30px;
    left: 0px;
    content: 'Desde';
    z-index: 20;
    font-size: 20px;
    font-family: 'bold';
    color: black
}
.price-to-black:after {
    position: absolute;
    top: -30px;
    left: 0px;
    content: 'Cada uno';
    z-index: 20;
    font-size: 20px;
    font-family: 'bold';
    color: black
}
.price-from-red:after {
    position: absolute;
    top: -30px;
    left: 0px;
    content: 'Desde';
    z-index: 20;
    font-size: 20px;
    font-family: 'bold';
    color: #ec1b23
}
.price-to-red:after {
    position: absolute;
    top: -30px;
    left: 0px;
    content: 'Cada uno';
    z-index: 20;
    font-size: 20px;
    font-family: 'bold';
    color: #ec1b23
}