@font-face {
  font-family: 'regular';
  src: url("../fonts/mm-font-regular-webfont.eot");
  src: url("../fonts/mm-font-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mm-font-regular-webfont.woff2") format("woff2"), url("../fonts/mm-font-regular-webfont.woff") format("woff"), url("../fonts/mm-font-regular-webfont.ttf") format("truetype"), url("../fonts/mm-font-regular-webfont.svg#mm-font-regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'header';
  src: url("../fonts/mm-head-webfont.eot");
  src: url("../fonts/mm-head-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mm-head-webfont.woff2") format("woff2"), url("../fonts/mm-head-webfont.woff") format("woff"), url("../fonts/mm-head-webfont.ttf") format("truetype"), url("../fonts/mm-head-webfont.svg#mm-head-webfont") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'bold';
  src: url("../fonts/mm-bold-webfont.eot");
  src: url("../fonts/mm-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mm-bold-webfont.woff2") format("woff2"), url("../fonts/mm-bold-webfont.woff") format("woff"), url("../fonts/mm-bold-webfont.ttf") format("truetype"), url("../fonts/mm-bold-webfont.svg#mm-bold-webfont") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'mm-custom-icon';
  src: url("../fonts/mm-custom-icon.eot?15dnlc");
  src: url("../fonts/mm-custom-icon.eot?#iefix15dnlc") format("embedded-opentype"), url("../fonts/mm-custom-icon.woff?15dnlc") format("woff"), url("../fonts/mm-custom-icon.ttf?15dnlc") format("truetype"), url("../fonts/mm-custom-icon.svg?15dnlc#mm-custom-icon") format("svg");
  font-weight: normal;
  font-style: normal
}

[class^="iconos-"],
[class*=" iconos-"] {
  font-family: 'mm-custom-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}