/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "mixins/mixins";
@import "vars/vars";

##{$n-landing} {

  figure img {
    
  }

  /*
   * BLOCKS
   *
   */
  
 
  /*
   * PARAGRAPH BLOCKS
   */
  

  /*
  * Modules Blocks
  */


  /*
  * Multimedia
  */
  

  /*
  *  Block 1
  */
  .content-block-1 {
    
  }

  /*
  *  Block 2
  */
  .content-block-2 {
      
  }

  /*
  *  Block 3
  */
  .content-block-3 {
   
   
  }

  /*
  * Buttons
  */
  .bt-price {
    
    .price {
    
    }
  }

  .media-trends {
    
  }
  

  /* END LANDING STYLE*/
}

