/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "mixins/mixins";
@import "vars/vars";

##{$n-landing} {
  overflow: hidden;
  width: 100%;
  max-width: 975px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  background-color: #fff;

  figure img.background {
    width: 100%;
    height: auto;
  }

  /*
   * Blocks
   *
   */
  .block {
    display: inline-block;

    .col-md-6 {
      padding: 45px 15px 40px 15px;
    }
  }
  .block-central-zone {
    display: inherit;
  }
  .block-header {
    position: relative;
    .block-p p {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .block-header .col-md-3 {
    position: absolute;
    right: 0;
    top: 0;
    margin: 80px;
    font-family: 'bold';
    figure {
      margin-bottom: 15px;
    }
  }

  /*
   * Tops zones
   *
   */
  .block-top-zone {
    font-family: 'bold';
    font-style: italic;
    font-size: 26px;
    padding: 10px 0 10px 100px;
    color: #fff;
    display: -webkit-box;

  }
  .btz-1 {
    background-color: $color-block-1;
  }
  .btz-2 {
    background-color: $color-block-2;
  }
  .btz-3 {
    background-color: $color-block-3;
  }

  /*
   * Paragraph blocks
   */
  .block-p {
    font-family: 'regular';

    p {
      font-size: 14px;
      line-height: 16px;
    }
    .option {
      font-size: 12px;
    }

  }

  /*
  * Modules Blocks
  */
  .block-bottom-zone-3 {
    border-top: 10px solid $color-block-3;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(174, 174, 173, 1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(174, 174, 173, 1);
    box-shadow: 5px 5px 10px 0px rgba(174, 174, 173, 1);

    p:nth-child(1) {
      font-family: bold;
      font-size: 18px;
      line-height: 18px;
    }

  }

  /*
  * Multimedia
  */
  figure img.background {
    width: 100%;
    height: auto;
  }
  .video {
    position: absolute;
    bottom: 30px;
    right: 90px;

    iframe {
      width: 100%;
    }
    .btn {
      position: relative;
      padding: 0;
    }
    .bt-video {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      @include center-center();
      i {
        color: #FFF;
        font-size: 20px;
        line-height: 40px;
      }
    }
    .bt-video:before {
      color: #FFF;
      line-height: 40px;
      font-size: 18px;
      margin-left: 3px;
    }

    .bt-v-1 {
      background-color: $color-block-1;
    }
    .bt-v-3 {
      background-color: $color-block-3;
    }
  }

  .img-product {
    position: relative;
    @include center-left();
  }

  .img-special-top{
    top:-25px;
  }

  /*
  *  Block 1
  */
  .content-block-1 {
    .special-col-md-6-hlimit{
      height: 432px;
    }
    .option-clicks {
      background-color: $color-block-1;
    }
    .img-product:nth-child(1) {
    }
    .option-clicks:after {
      background-color: $color-block-1;
    }
    .opt-click-1 {
      left: 182px;
    }
    .hide-option.opt-click-1:after {
      width: 295px;
    }
    .opt-click-2 {
      left: 266px;
    }
    .hide-option.opt-click-2:after {
      width: 211px;
    }
    .opt-click-3 {
      left: 320px;
    }
    .hide-option.opt-click-3:after {
      width: 158px;
    }
    .opt-click-4 {
      left: 393px;
    }
    .hide-option.opt-click-4:after {
      width: 85px;
    }
  }

  /*
  *  Block 2
  */
  .content-block-2 {
    .special-col-md-6 {
      padding-bottom: 15px;
    }
    .option-clicks {
      background-color: $color-block-2;
    }
    .option-clicks:after {
      background-color: $color-block-2;
    }
    .img-product:nth-child(1) {
      left: 60%;
    }
    .opt-click-1 {
      left: 283px;
    }
    .hide-option.opt-click-1:after {
      width: 194px;
    }
    .opt-click-2 {
      left: 302px;
    }
    .hide-option.opt-click-2:after {
      width: 176px;
    }
    .opt-click-3 {
      left: 242px;
    }
    .hide-option.opt-click-3:after {
      width: 235px;
    }
    .opt-click-4 {
      left: 326px;
    }
    .hide-option.opt-click-4:after {
      width: 152px;
    }
    .price-2{
      bottom: 40px;
    }
  }

  /*
  *  Block 3
  */
  .content-block-3 {
    .special-col-md-6 {

    }
    .special-col-md-6-hlimit{
      height: 467px;
    }
    .option-clicks {
      background-color: $color-block-3;
    }
    .option-clicks:after {
      background-color: $color-block-3;
    }
    .block-central-zone .block-zone-3-accesorios {
      padding: 0 6.25px;
    }
    .z3-a2-block-description {
      padding-right: 10px;
    }
    .price-4 {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 10px;
    }
    .price-5 {
      position: absolute;
      bottom: 0;
      margin: 0 10px 10px 0;
      right: 0;
    }
    .block-bottom-zone-3 {
      float: inherit;
      padding: 30px 10px 0px 10px;
      height: 400px;
      position: relative;
      .block-p {
        margin-top: 30px;
        p {
        }
      }
      .col-md-6 {
        padding: 0;
      }
    }
    .block-bottom-zone-3 .img-block-bottom-left {
      left: 45%;
    }
    .opt-click-1 {
      left: 159px;
    }
    .hide-option.opt-click-1:after {
      width: 318px;
    }
    .opt-click-2 {
      left: 288px;
    }
    .hide-option.opt-click-2:after {
      width: 189px;
    }
    .opt-click-3 {
      left: 200px;
    }
    .hide-option.opt-click-3:after {
      width: 277px;
    }
    .opt-click-4 {
      left: 353px;
    }
    .hide-option.opt-click-4:after {
      width: 125px;
    }
  }

  /*
  * Buttons
  */
  .bt-price {
    position: absolute;
    right: 0;
    bottom: 30px;
    .price {
      margin-bottom: 10px;
    }
  }

  .media-trends {
    top: 15px;
    position: absolute;
  }

  .hide-option::before {
    content: "\ea0b";
  }

  .show-option::before {
    content: "\ea0a";
  }

  .option-clicks {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
    position: absolute;
  }
  .option-clicks:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 13px;
  }

  .content-block-1 .option-clicks:nth-child(2) {
    left: 10px;
  }

  /*
   * MOBILE
   */
  @media only screen and (max-device-width: 480px) {
    .block-header .col-md-3 {
      position: relative;
    }
    .video {
      float: none;
      margin: 20px 0 0 0;
    }
    .content-block-3 {
      .price-5 {
        position: absolute;
        bottom: 120px;
        margin: 10px;
        right: 0;
        text-align: initial;
        width: initial;
      }
      .block-bottom-zone-3 {
        height: auto;
      }
      .block-central-zone .block-zone-3-accesorios {
        padding: 0 6.25px 15px 0;
      }
      .z3-a2-block-description {
        padding-bottom: 15px;
      }
    }

  }

  /* END LANDING STYLE*/
}

