// Mixins
// --------------------------------------------------


@mixin sizing (){
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

@mixin radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin center-top(){
  top:50%;transform:translate(0%,-50%);-webkit-transform:translate(0%,-50%);
}
@mixin center-center(){
  top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);
}
@mixin center-left(){
  left:50%;transform:translate(-50%,0%);-webkit-transform:translate(-50%,0%);
}

@mixin center-initial(){
  left:0;top:0;transform:translate(0%,0%);-webkit-transform:translate(0%,0%);
}

@mixin product-shadow(){
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}