// Vars
// --------------------------------------------------

/*
 * HTML
 */


/*
 * LANDING
 */

$n-landing: 'node-114';

/*
 * COLORS
 */
$color-background: #fff;
$yellow:#ffef00;
$white: #fff;
$gray: #eeeeee;