/*
   * MOBILE
   */
  @media only screen and (max-device-width: 480px) {
    .block-menu{
      .col-md-6{
          padding: 5px 10px;
      }
      h3{
        bottom:10px;
      }
    }
    
    .block-indoor-subtitle{
      margin-left:0 !important;
      iframe{
        width: 100%;
        padding: 0 20px;
      }
    }
    section .block-producto-slide:nth-child(1), section .block-producto-slide:nth-child(2){
      padding-right:15px;
    }
    
    .block-producto-slide .col-md-12:nth-child(2){
      display: inline-block;
    width: 100%;
    }
    
    .container-limpiacristales-wv{
      .col-md-6:nth-child(3){
        padding:0 50px;
        height:auto;
      
      }
      
      iframe{
        width: 100%;
        padding: 20px;
        height: 200px;
        margin-bottom: 120px;
      }
    }
    
    .container:nth-child(2){
      margin:0;
    }
    .container:nth-child(3) .col-md-6{
      padding-right:15px;
      height:auto;
    }
    .toggle-show figure img{
      position:relative;
      @include center-initial();
    }
  }

