/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
 * HTML
 */
/*
 * LANDING
 */
/*
 * COLORS
 */
#node-114 {
  font-family: regular;
  /*
   * BLOCKS
   *
   */
  /*
   * PARAGRAPH BLOCKS
   */
  /*
  * Modules Blocks
  */
  /*
  * Multimedia
  */
  /*
  * Buttons
  */
  /*
     * MOBILE
     */
  /* END LANDING STYLE*/ }
  #node-114 h2, #node-114 h3 {
    margin: 0; }
  #node-114 section {
    position: relative;
    margin: 15px 0; }
  #node-114 .container {
    background-color: #fff;
    position: relative; }
  #node-114 figure img {
    position: relative; }
  #node-114 .center-top {
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); }
  #node-114 .center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
  #node-114 .center-left {
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%); }
  #node-114 .container:nth-child(1) img {
    position: fixed;
    min-height: 100%;
    max-width: 1250px;
    width: auto; }
  #node-114 .container:nth-child(2) {
    margin-bottom: 291px; }
    #node-114 .container:nth-child(2) section:last-child {
      margin-bottom: 0; }
      #node-114 .container:nth-child(2) section:last-child .block-producto-slide {
        position: relative;
        top: 5px; }
  #node-114 .block-logo figure img {
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%); }
  #node-114 .block-menu .col-md-6:nth-child(1) {
    padding-right: 7.5px; }
  #node-114 .block-menu .col-md-6:nth-child(2) {
    padding-left: 7.5px; }
  #node-114 .block-menu figure {
    overflow: hidden; }
  #node-114 .block-menu h3 {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    font-family: header;
    font-size: 35px; }
  #node-114 .block-menu a img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease; }
  #node-114 .block-menu a:hover img {
    -webkit-transform: scale(1.15);
    /* Safari and Chrome */
    -moz-transform: scale(1.15);
    /* Firefox */
    -ms-transform: scale(1.15);
    /* IE 9 */
    -o-transform: scale(1.15);
    /* Opera */
    transform: scale(1.15); }
  #node-114 .block-menu > div {
    overflow: hidden; }
  #node-114 .block-indoor-title, #node-114 .block-outdor-title {
    background-color: #ffef00;
    font-family: header; }
    #node-114 .block-indoor-title h3, #node-114 .block-outdor-title h3 {
      font-size: 26px;
      line-height: 43px; }
  #node-114 .block-indoor-subtitle {
    margin-left: 100px !important; }
    #node-114 .block-indoor-subtitle div {
      float: left; }
    #node-114 .block-indoor-subtitle .btn {
      margin-left: 30px;
      padding-top: 0px; }
    #node-114 .block-indoor-subtitle h3 {
      line-height: 108px;
      font-size: 22px;
      font-family: header; }
  #node-114 .subtitle-aspiradores {
    height: 60px;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    z-index: 1000; }
    #node-114 .subtitle-aspiradores h3 {
      margin-top: 10px; }
  #node-114 section .block-producto-slide:nth-child(1), #node-114 section .block-producto-slide:nth-child(2) {
    padding-right: 0px; }
  #node-114 .block-producto-slide {
    overflow: hidden; }
    #node-114 .block-producto-slide .container-scroll {
      max-height: 170px;
      overflow: scroll; }
    #node-114 .block-producto-slide .bt-price {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 15px; }
    #node-114 .block-producto-slide h3 {
      font-size: 18px;
      padding: 30px 0; }
    #node-114 .block-producto-slide .col-md-12:nth-child(1) {
      height: 357px; }
      #node-114 .block-producto-slide .col-md-12:nth-child(1) figure {
        top: 50%;
        transform: translate(0%, -50%);
        -webkit-transform: translate(0%, -50%);
        position: relative; }
    #node-114 .block-producto-slide .col-md-12:nth-child(2) {
      text-align: center;
      font-family: bold; }
    #node-114 .block-producto-slide .col-md-12:nth-child(2), #node-114 .block-producto-slide .col-md-12:nth-child(3), #node-114 .block-producto-slide .col-md-12:nth-child(4) {
      background-color: #eeeeee; }
    #node-114 .block-producto-slide .col-md-12:nth-child(3) {
      height: 0;
      max-height: 205px;
      padding: 0 25px;
      font-size: 14px; }
    #node-114 .block-producto-slide [class*="slide-arrow"] {
      left: 50%;
      transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      cursor: pointer; }
    #node-114 .block-producto-slide .slide-arrow {
      margin-bottom: 5px; }
    #node-114 .block-producto-slide .slide-arrow-down {
      margin: 10px 0; }
    #node-114 .block-producto-slide .block-p-table span {
      float: left; }
    #node-114 .block-producto-slide .block-p-table span:nth-child(odd) {
      width: 60%; }
    #node-114 .block-producto-slide .block-p-table span:nth-child(even) {
      width: 40%; }
  #node-114 .block-p-table {
    font-family: bold; }
    #node-114 .block-p-table > span {
      float: left; }
    #node-114 .block-p-table .block-p-table-left {
      width: 70%; }
    #node-114 .block-p-table .block-p-table-right {
      width: 30%; }
  #node-114 .grid-product-limpidoras .block-p-table span:nth-child(odd) {
    width: 80%; }
  #node-114 .grid-product-limpidoras .block-p-table span:nth-child(even) {
    width: 20%; }
  #node-114 .container:nth-child(3) h2 {
    font-size: 18px;
    font-family: bold;
    padding: 50px 0 20px 0; }
  #node-114 .container:nth-child(3) section {
    margin: 0; }
  #node-114 .container:nth-child(3) .col-md-6 {
    height: 532px;
    padding-right: 0; }
  #node-114 .container:nth-child(3) .col-md-4 {
    background-color: #eeeeee;
    height: 100%;
    font-size: 14px;
    padding: 0 20px; }
    #node-114 .container:nth-child(3) .col-md-4 p {
      line-height: 1; }
  #node-114 .container:nth-child(3) .col-md-8 {
    height: 100%; }
  #node-114 .container:nth-child(3) .block-p-table {
    line-height: 1; }
    #node-114 .container:nth-child(3) .block-p-table span:nth-child(odd) {
      width: 100%; }
    #node-114 .container:nth-child(3) .block-p-table span:nth-child(even) {
      width: 100%;
      padding-left: 20%; }
  #node-114 .container-limpiacristales-wv .col-md-6 {
    height: 482px; }
  #node-114 .container-limpiacristales-wv .col-md-6:nth-child(3) {
    background-color: #eeeeee;
    padding: 0 50px 0 110px;
    line-height: 1;
    font-size: 14px; }
    #node-114 .container-limpiacristales-wv .col-md-6:nth-child(3) h2 {
      font-size: 18px;
      font-family: bold;
      margin: 40px 0; }
    #node-114 .container-limpiacristales-wv .col-md-6:nth-child(3) .block-p-table span:nth-child(odd) {
      width: 65%; }
    #node-114 .container-limpiacristales-wv .col-md-6:nth-child(3) .block-p-table span:nth-child(even) {
      width: 35%; }
    #node-114 .container-limpiacristales-wv .col-md-6:nth-child(3) .btn-modal {
      position: absolute;
      bottom: 40px;
      left: 110px;
      padding: 0; }
  #node-114 .toggle-show figure {
    display: none; }
  #node-114 .toggle-show figure:nth-child(1) {
    display: inline; }
  #node-114 .toggle-show figure img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    float: none;
    position: absolute; }
  #node-114 .toggle-thumbnail {
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    display: inline-table;
    position: absolute;
    bottom: 0; }
    #node-114 .toggle-thumbnail figure {
      float: left;
      margin: 10px;
      cursor: pointer;
      top: 50%;
      transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%); }
  #node-114 .grip-product-fullcontrol .block-producto-slide .col-md-12:nth-child(1) {
    height: 399px; }
  #node-114 .carrusel-1 {
    margin-top: 70px; }
  #node-114 .carrusel-2 {
    margin-bottom: 70px; }
  #node-114 .modal-content iframe {
    width: 100%; }
  #node-114 .owl-controls {
    position: relative;
    z-index: 10; }
    #node-114 .owl-controls .owl-next {
      background-image: url("../img/desktop/objeto_inteligente_vectorial_6.png");
      background-repeat: no-repeat;
      text-indent: -90000px;
      height: 63px;
      position: absolute;
      width: 40px;
      right: 0;
      bottom: 105px; }
    #node-114 .owl-controls .owl-prev {
      background-image: url("../img/desktop/objeto_inteligente_vectorial_copia_6.png");
      background-repeat: no-repeat;
      text-indent: -90000px;
      height: 63px;
      position: absolute;
      width: 40px;
      left: 0;
      bottom: 105px; }
  #node-114 .bt-price {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px; }
  @media only screen and (max-device-width: 480px) {
    #node-114 .block-menu .col-md-6 {
      padding: 10px; }
    #node-114 .block-menu h3 {
      bottom: 10px; } }

/*# sourceMappingURL=_custom.css.map */
