/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "mixins/mixins";
@import "vars/vars";

##{$n-landing} {
  
  font-family: regular;
  
  h2,h3{
    margin:0;
    
  }
  
  section{
    position:relative;
    margin: 15px 0;
  }

  .container{
    background-color:#fff;
    position:relative;
  }

  figure img {
    position: relative;
  }
  
  .center-top{
    top:50%;transform:translate(0%,-50%);-webkit-transform:translate(0%,-50%);
  }
  .center-center{
    top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);
  }
  .center-left{
    left:50%;transform:translate(-50%,0%);-webkit-transform:translate(-50%,0%);
  }

  /*
   * BLOCKS
   *
   */
   
   .container:nth-child(1){
     img{
      position: fixed;
      min-height: 100%;
      max-width: 1250px;
      width: auto;
     }
   }
   
   .container:nth-child(2){
     margin-bottom:291px;
     
     section:last-child{
       margin-bottom:0;
       .block-producto-slide{
          position: relative;
          top: 5px;
       }
     }
     
   }
   
   .block-logo figure img{
     @include center-left();
   } 
   
   .block-menu{
     .col-md-6:nth-child(1){
       padding-right:7.5px;
     }
     .col-md-6:nth-child(2){
       padding-left:7.5px;
     }
     
     figure{
       overflow:hidden;
     }
     h3{
       position:absolute;
       bottom:0;
       color:$white;
       width: 100%;
       font-family:header;
       font-size:35px;
     }
    a img {
      -webkit-transition: all 1s ease; /* Safari and Chrome */
      -moz-transition: all 1s ease; /* Firefox */
      -ms-transition: all 1s ease; /* IE 9 */
      -o-transition: all 1s ease; /* Opera */
      transition: all 1s ease;
    }
      
    a:hover img {
        -webkit-transform:scale(1.15); /* Safari and Chrome */
        -moz-transform:scale(1.15); /* Firefox */
        -ms-transform:scale(1.15); /* IE 9 */
        -o-transform:scale(1.15); /* Opera */
         transform:scale(1.15);
      }
      
      > div{
        overflow:hidden;
      }
   }
  
  .block-indoor-title,.block-outdor-title{
    background-color:#ffef00;
    font-family:header;
    h3{
      font-size:26px;
      line-height: 43px;
    }
  }
  
  .block-indoor-subtitle{
      margin-left: 100px !important;
      
    div{
      float:left;  
    }
    
    .btn{
      margin-left:30px;
      padding-top:0px;
    }
    
    h3{
      line-height:108px;
      font-size:22px;
      font-family:header;
    }
  }
  
  .subtitle-aspiradores{
    height: 60px;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    z-index:1000;
    h3{
      margin-top:10px;
    }
  }
  
  section .block-producto-slide:nth-child(1),section .block-producto-slide:nth-child(2){
    padding-right:0px;
  }
  
  .block-producto-slide{
    overflow: hidden;
    
    .container-scroll{
      max-height: 170px;
      overflow: scroll;
    }
    
    .bt-price{
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 15px;
    }
    
    h3{
       font-size:18px;
      padding: 30px 0;
    }
    
    .col-md-12:nth-child(1){
      height:357px;
      figure{
         @include center-top();
         position:relative;
       }
    }
     .col-md-12:nth-child(2){
       text-align:center;
       font-family:bold;
       
     }
  
    .col-md-12:nth-child(2), .col-md-12:nth-child(3),.col-md-12:nth-child(4){
    background-color:$gray;
    }
    .col-md-12:nth-child(3){
      height:0;
      max-height:205px;
      padding:0 25px;
      font-size:14px;
    }
    
    [class*="slide-arrow"]{
      @include center-left();
      cursor:pointer;
    }
    
    .slide-arrow{
      margin-bottom: 5px;
    }
    
    .slide-arrow-down{
      margin:10px 0;
    }
    
    .block-p-table{
      span{
        float: left;
      }
      
      span:nth-child(odd){
        width:60%;
      }
      span:nth-child(even){
        width:40%;
      }
    }
  }
 
 .block-p-table{
   
   font-family:bold;
   
   > span{
     float:left;
   }
   
   .block-p-table-left{
     width:70%;
   }
   
   .block-p-table-right{
     width:30%;
   }
 }
 
 .grid-product-limpidoras{
   .block-p-table{
       span:nth-child(odd){
        width:80%;
      }
      span:nth-child(even){
        width:20%;
      }
   }
 }
 

  .container:nth-child(3){
    
      h2{
        font-size: 18px;
        font-family:bold;
        padding: 50px 0 20px 0;
      }
      section{
        margin:0;
      }
      .col-md-6{
         height:532px;
         padding-right:0;
       }
       
       .col-md-4{
          background-color: $gray;
          height: 100%;
          font-size: 14px;
          padding:0 20px;
          p{
            line-height:1;
          }
       }
       .col-md-8{
         height:100%;
       }
      .block-p-table{
        line-height:1;
         
        span:nth-child(odd){
          width:100%;
        }
        span:nth-child(even){
          width:100%;
          padding-left:20%;
        }
     }
   }
   
   .container-limpiacristales-wv{
     .col-md-6{
       height:482px;
     }
     .col-md-6:nth-child(3){
      background-color:$gray;
          padding: 0 50px 0 110px;
          h2{
            font-size: 18px;
            font-family: bold;
            margin: 40px 0;
          }
        line-height: 1;
        font-size: 14px;
        
        .block-p-table{
          span:nth-child(odd){
            width:65%;
          }
          span:nth-child(even){
            width:35%;
          }
        }
        .btn-modal{
          position:absolute;
          bottom:40px;        
          left:110px;
          padding:0;
        }
     }
   }
 
  /*
   * PARAGRAPH BLOCKS
   */
  

  /*
  * Modules Blocks
  */

  .toggle-show{
    figure{
      display: none;
    }
    figure:nth-child(1){
      display:inline;
    }
    figure img{
      @include center-center();
      float:none;
      position:absolute;
    }
  }
  .toggle-thumbnail{
    @include center-left();
    display: inline-table;
    position:absolute;
    bottom:0;
    figure{
      float:left;
      margin: 10px;
      cursor:pointer;
       @include center-top();
    }
  }

.grip-product-fullcontrol{
  .block-producto-slide{
    .col-md-12:nth-child(1){
      height:399px;
    }
  }
}

  /*
  * Multimedia
  */
  .carrusel-1{
    margin-top: 70px;
  }
  
  .carrusel-2{
    margin-bottom: 70px;
  }
  
  .modal-content iframe{
    width:100%;
  }
  


  /*
  * Buttons
  */
  .bt-price {
    
    .price {
    
    }
  }
  
  .owl-controls{
    position: relative;
    z-index: 10;
    .owl-next{
      background-image:url("../img/desktop/objeto_inteligente_vectorial_6.png");
      background-repeat:no-repeat;
      text-indent:-90000px;height: 63px;
      position: absolute;
      width: 40px;
      right: 0;
      bottom: 105px;
    }
    .owl-prev{
      background-image:url("../img/desktop/objeto_inteligente_vectorial_copia_6.png");
      background-repeat:no-repeat;
      text-indent:-90000px;height: 63px;
      position: absolute;
      width: 40px;
      left: 0;
      bottom: 105px;
    }
    
  }
  
    .bt-price{
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 15px;
    }
  .media-trends {
    
  }
  
  @import "partials/queries";  
  /* END LANDING STYLE*/
}



