/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "mixins/mixins";
@import "vars/vars";

##{$n-landing} {
 a{
     text-decoration:none;
 }
  figure img {
    
  }

  /*
   * BLOCKS
   *
   */
  
 
  /*
   * PARAGRAPH BLOCKS
   */
  

  /*
  * Modules Blocks
  */


  /*
  * Multimedia
  */
  

  /*
  *  Block 1
  */
  .content-block-1 {
    
  }

  /*
  *  Block 2
  */
  .content-block-2 {
      
  }

  /*
  *  Block 3
  */
  .content-block-3 {
   
   
  }

  /*
  * Buttons
  */
  .bt-price {
    
    .price {
    
    }
  }

  .media-trends {
    
  }
  

  /* END LANDING STYLE*/
}

.container{
    width:1250px;
    /*padding: 0;*/
    background:transparent url(/templates/node-137/img/desktop/bg-financiacion.jpg) no-repeat top left;
    height: 1726px;
    color:black;
}

.mod-xs-12{
    background-color: #fafafa;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    height: 271px;
    margin-top: 20px;
    padding: 30px;
    position: relative;
}
.mod-xs-12 img.product{
    position: absolute;
    z-index: 50;
    top:15PX;right: 20px;
}
.mod-xs-12 h2{
    font-family: 'bold';
    font-size: 18px;
    margin-bottom: 25px;
    text-align:left;
}

.mod-xs-12 p{
    font-family: 'regular';
    font-size: 14px;
    
}
.mod-xs-12 .cont-price{
    position: absolute;
    right: 20px;
    z-index: 52;
    bottom: 50px;
}
.mod-xs-12 .cont-cuota{
    position: absolute;
    left: 180px;
    z-index: 52;
    bottom: 41px;
}

img.marca{
    margin-bottom: 30px;
}
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{*/
/*    padding-left:0;padding-right:0;*/
/*}*/
section{
    float: left;
width: 100%;
padding: 0px 15px;
}
