/*
Errno::ENOENT: No such file or directory @ rb_sysopen - /home/ubuntu/workspace/templates/node-137/sass/screen.css

Backtrace:
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:482:in `read'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:293:in `watch'
/usr/local/rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/usr/local/rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/usr/local/rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/rvm/gems/ruby-2.3.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/rvm/gems/ruby-2.3.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/usr/local/rvm/gems/ruby-2.3.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.3.0/bin/compass:22:in `load'
/usr/local/rvm/gems/ruby-2.3.0/bin/compass:22:in `<main>'
/usr/local/rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - /home/ubuntu/workspace/templates/node-137/sass/screen.css"; }
